// Variables
$off-white: #F3F4F5;

// CSS Resets
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// Body
body {
    background-color: $off-white;
}

// Navigation
nav {
    width: 25%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}

// Main Content
main {
    margin-left: 25%;
    // TODO: PUT SOME PADDING HERE OR AROUND SECTIONS OR BOTH
}

// Desktop Styling
@media screen and (max-width: 1000px) {

}