* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F9F6F3;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #F9F6F3;
    border-bottom: 3px solid #F98728;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    z-index: 1;

    a {
        color: #F98728;
        font-family: Roboto, sans-serif;
        text-decoration: none;
        font-size: 25px;
        margin: 10px;
        border-bottom: 3px solid rgba(#F98728, 0%);
        border-top: 3px solid transparent; // for balance

        &:hover, &:active {
            border-bottom: 3px solid rgba(#F98728, 100%);
        }
    }

    i {
        color: #F98728;
        font-size: 35px;
        margin: 10px;
    }
}

.navlinks {
    display: flex;
}

.navpoints {
    position: relative;
    top: -80px;
}

#mobile-menu {
    display: none;
}

#toggler:hover {
    cursor: pointer;
}

.header {
    background-color: #F98728;
    width: 100%;
    padding: 30px;
}

#first-header {
    margin-top: 55px;
}

h1, p {
    text-align: center;
    color: white;
    font-family: Roboto, sans-serif;
}

h1 {
    font-size: 50px;
    margin-top: 10px;
}

p {
    font-size: 20px;
    line-height: 20px;
}

#logo {
    margin: auto;
    width: 100px;
    height: 100px;
    background: #F9F6F3;
    border-radius: 25px;
}

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: stretch;
    justify-content: center;
}

.images img {
    width: 100%;
    height: 285px;
    cursor: pointer;
}

#modal-background {
    background-color: #000000dd;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    display: none;
    top: 0;
    cursor: pointer;
}

#modal {
    text-align: center;
    background-color: #F9F6F3;
    border-radius: 20px;
    padding: 20px;
    top: 10%;
    margin: auto;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    max-height: 90%;
    position: absolute;
    z-index: 3;
    display: none;

    i {
        color: #F98728;
        font-size: 40px;
    }

    img {
        display: block;
        max-width: 100%;
        max-height: calc(90vh - 40px); // 40px from the padding of modal (20 top + 20 bottom)
        width: auto;
        height: auto;
        padding: 50px 40px;
    }
}

#close-modal {
    position: absolute;
    top: 20px;
    right: 40px;
    z-index: 3;
    cursor: pointer;
}

#modal-controls {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 660px) {
    #mobile-menu {
        display: flex;
        align-self: flex-end;
        padding-right: 20px;
    }

    nav {
        padding: 0;
        flex-direction: column;
        align-items: center;
    }

    .navlinks {
        flex-direction: column;
        align-items: center;
        display: none;
        border-top: 3px solid #F98728ff;
        width: 100%;
    }

    .show-menu {
        display: flex;
    }
}
