// Variables
// Colors
$dark-blue: #081646;
$blue: #1447C8;
$light-blue: #44C6E6;
$off-white: #F6F8FA;
$orange: #FF9C4A;
// OLD COLORS
$red: #F1656E;
$pink: #FAC5BF;
$light-gray: #a2a8cd;

// Nav Variables
$nav-fontsize: 1.3em;
$nav-height: 90px;

// Typography
$title-size: 3em;


// Mixins
@mixin button-primary {
    background-color: $blue;
    text-decoration: none;
    user-select: none;
    padding: 1rem 1.5rem;
    border-radius: 6px;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    color: $off-white;
    cursor: pointer;
    @include button-effect($blue);
}

@mixin button-secondary {
    background-color: white;
    text-decoration: none;
    user-select: none;
    padding: 1rem 1.5rem;
    border-radius: 6px;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    color: $blue;
    border: 2px solid $blue;
    cursor: pointer;
    @include button-effect($blue);
}

@mixin button-effect($color) {
    transition: 0.2s all;
    &:hover {
        background-color: lighten($color, 5%);
        border-color: lighten($color, 5%);
    }
    &:active {
        transform: translateY(4px);
    }
}


//HERE
// General
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    // Transition all elements on the screen
    // (except FAQ panel, which has conflicting transitions)
    &:not(.panel) {
        transition-duration: 1s;
        transition-property: margin, padding, width, font-size;
    }

}

body {
    background-color: $light-blue;
}

a {
    text-decoration: none;
    color: white;
}

p {
    font-size: 1.3em;
}

// Padding for all sections where needed
// (modified on media queries only)
.section-pad {
    padding: 140px;
}

.section-pad-top {
    padding-top: 140px;
}

.section-pad-left {
    padding-left: 140px;
}


// Nav
nav {
    background-color: rgba(#5864a5, 80%);
    display: flex;
    justify-content: space-between;
    font-size: $nav-fontsize;
    height: $nav-height;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;

    .left, .right {
        display: flex;
        align-items: center;
    }

    a {
        padding: 0px 5px;
        margin-left: 10px;
    }

    .link {
        border: 3px rgba(white, 0);
        border-style: solid none;
        transition: all 0.2s;

        &:not(:focus):hover, &.active {
            // underline upon hover, disable hover upon click
            border-bottom-color: rgba(white, 1);
        }
    }

    #logo {
        height: $nav-height;
        align-self: flex-start;

        img {
            width: $nav-height;
            height: $nav-height;
            position: relative;
            bottom: 0;
            top: 0;
        }
    }

    #mlh-badge {
        align-self: flex-start;
        width: 100px;
        height: 0;
    }
}

#hero {
    // SASS needs to parse variable value inline
    height: 100vh;
    background-color: $light-blue;
    position: relative;
    overflow: hidden;

    #hero-content {
        height: calc(100vh - #{$nav-height});
        margin-top: $nav-height;
        display: flex;
        z-index: 4;
        position: relative;
    }

    #hero-text {
        z-index: 2;
        white-space: nowrap;
        margin-top: 13%;
    }

    p {
        // This lets the different h elements
        // appear to be equally spaced.
        line-height: 0.7;
        margin-bottom: 40px;
    }

    #bh7 {
        font-size: 6em;
        font-weight: bold;
    }

    #dates {
        font-size: 2em;
        font-weight: bold;
    }

    #action-buttons {
        display: flex;
        justify-content: space-between;
        width: 80%;

        #register, #discord {
            @include button-primary;
            font-size: 2.3em;
            width: 48%;
            text-align: center;
        }

        #discord {
            background-color: $dark-blue;
            &:hover {
                background-color: lighten($dark-blue, 5%);
            }
        }
    }
}

#about {
    background-color: $dark-blue;

    h1 {
        font-size: $title-size;
    }

    p {
        margin-bottom: 20px;
    }

    #hackathon-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        #hackathon-text {
            width: 60%;
        }
    }

    #hackathon-buttons {
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        align-items: flex-start;

        a {
            @include button-secondary;
            @include button-effect($blue);
            display: flex;
            align-items: center;
            /*background-color: $blue;
            margin: 20px 0px;
            padding: 30px;
            border-radius: 20px;
            width: 100%;*/
        }

        p {
            margin: 0px;
            font-size: 1.2em;
            font-weight: medium;
        }

        i.fa-arrow-right, i.fa-images {
            font-size: 1.6em;
            color: $red;
            padding-right: 10px;
        }
    }
}

#faq {
    background-color: $dark-blue;
    #faq-wrapper {
        h1 {
            font-size: $title-size;
            margin-bottom: 40px;
        }
        #faq-cards {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            // TODO: This can be cleaner.
            $card-m: 20px;
            &-left {
                width: calc(50% - (#{$card-m} / 2));
                margin-right: $card-m / 2;
            }
            &-right {
                width: calc(50% - (#{$card-m} / 2));
                margin-left: $card-m / 2;
            }
            .card {
                width: 100%;
                margin-bottom: $card-m;
                border-radius: 7px;
                background-color: $light-blue;
                @include button-effect($light-blue);
                &:active {
                    transform: none;
                }
                .accordion-header {
                    background-color: transparent;
                    cursor: pointer;
                    outline: none;
                    text-align: left;
                    padding: 20px 30px;
                    border: none;
                    width: 100%;
                    font-size: $nav-fontsize;

                    .fa-plus, .fa-minus {
                        margin-right: 10px;
                    }
                    .fa-plus {
                        &-red    { color: $red; }
                        &-pink   { color: $pink; }
                        &-orange { color: $orange; }
                    }
                    .fa-minus {
                        color: $blue;
                    }
                }
                .panel {
                    display: none; // Toggled in JS
                    margin-top: -30px;
                    padding: 20px 30px;
                    font-size: 0.8em;
                    // Align w/ header text, not sure if this can be made cleaner.
                    margin-left: 35px;

                    p, em {
                        color: $dark-blue;
                        line-height: 23px;
                        margin-bottom: 10px;
                    }
                    a {
                        color: $red;
                    }
                }
            }
            .active {
                background-color: white;

                // Need to explicitly set for some reason
                .accordion-header, .panel {
                    color: $dark-blue;
                }
                &:hover {
                    background-color: white;
                }
            }
        }
        .contact {
            a {
                text-transform: uppercase;
                color: $red;
                font-weight: 600;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        #contact-desktop {
            display: block;
        }
        #contact-laptop {
            display: none;
        }
    }
}

footer {
    width: 100%;
    height: 300px;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 20px;
    background-image: url("../assets/footer/footer.svg");
    background-repeat: repeat no-repeat;
    background-position: bottom center;
    background-size: auto 300px;
    overflow-x: clip;

    #footer-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 235px;
        margin: auto;
        padding: 15px;
        text-align: center;

        h2 {
            margin-top: -5px;
            margin-bottom: -5px;
        }

        p {
            font-size: 1em;
        }

        // FA brand icons
        i {
            font-size: 3em;
            padding: 0px 5px;
        }

        a {
            display: inline-block;
            transition: 0.2s;

            &:hover {
                color: $red;

                i {
                    transform: translateY(-4px);
                }
            }
            i {
                transition: 0.2s;
            }
        }
    }
}


// Media queries for mobile

@media screen and (min-width: 1700px) {
    nav {
        #mlh-badge {
            width: 140px;
        }
    }
}

@media screen and (max-width: 1500px) {

    .section-pad {
        padding: 80px;
    }

    .section-pad-top {
        padding-top: 80px;
    }

    .section-pad-left {
        padding-left: 80px;
    }

    #about {

        #hackathon-content {
            flex-direction: column;

            #hackathon-text {
                width: 100%;
            }
        }

        #hackathon-buttons {
            flex-direction: row;
            justify-content: center;
            width: 70%;

            a {
                margin: 10px;
            }
        }
    }

    #faq #faq-wrapper {
        #faq-cards {
            flex-direction: column;

            &-left, &-right {
                margin: 0;
                width: 100%;
            }
        }

        #contact-desktop {
            display: none;
        }

        #contact-laptop {
            display: block;
        }
    }
}

@media screen and (max-width: 1220px) {

    #about #hackathon-content #hackathon-buttons {
        width: 100%;
    }
}

@media screen and (max-width: 955px) {

    // Redefine only for mobile
    $nav-height: 60px;

    nav {
        height: $nav-height;
        position: absolute;

        #logo img {
            width: $nav-height;
            height: $nav-height;
        }

        #mlh-badge {
            width: 90px;
        }

        .link {
            display: none;
        }
    }
}

@media screen and (max-width: 900px) {

    h1:not(.end-h1), section > p {
        text-align: center;
    }

    #faq #faq-wrapper h1, #about h1 {
        font-size: 2.5em;
    }

    p {
        font-size: 1em;
    }

    .section-pad {
        padding: 40px;
    }

    .section-pad-top {
        padding-top: 30px;
    }

    .section-pad-left {
        padding: 20px;
    }

    #about {

        #hackathon-content #hackathon-buttons {
            flex-direction: column;
            width: 60%;

            a {
                margin-left: 0;
            }
        }
    }

    #faq #faq-wrapper {

        h1 {
            margin-bottom: 20px;
        }

        #faq-cards {
            flex-direction: column;

            &-left, &-right {
                margin: 0;
                width: 100%;
            }

            .card {
                .accordion-header {
                    padding: 10px 20px;
                    font-size: 1em;
                }

                .panel {
                    padding: 20px;
                    margin-left: 30px;
                    padding-bottom: 10px; // TODO: Why does padding: 10px not look good?

                    p {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {

    .section-pad {
        padding: 10px;
    }

    #about {

        #hackathon-content {
            margin: 0;
            padding: 20px;

            i {
                font-size: 1.5em;
            }

            p {
                font-size: 1em;
            }

            #hackathon-buttons {
                width: 100%;
            }
        }
    }

    #faq #faq-wrapper {
        // Only center the "contact" string in the FAQ
        a {
            white-space: nowrap;
        }

        .contact  {
            text-align: center;
        }
    }

    footer {
        height: 200px;
        background-size: auto 200px;

        #footer-content {
            height: 157px;

            h2 {
                font-size: 1.2em;
            }

            p {
                font-size: 0.8em;
            }

            i {
                font-size: 2em;
            }
        }
    }
}