// Variables
// Colors
$dark-blue: #193787;
$blue: #1447C8;
$light-blue: #44C6E6;
$off-white: #F6F8FA;
$black: #081646;
$orange: #FF9C4A;

// Nav Variables
$nav-height: 90px;

// Typography
$title-size: 3em;


// Mixins
@mixin button-primary {
    background-color: $blue;
    text-decoration: none;
    user-select: none;
    padding: 1rem 1.5rem;
    border-radius: 6px;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    color: $off-white;
    font-size: 1.25rem;
    cursor: pointer;
    @include button-effect;

    &:hover {
        background-color: $dark-blue;
    }

    @media screen and (max-width: 900px) {
        font-size: 1em;
    }
}

@mixin button-secondary {
    @include button-primary;
    background-color: white;
    color: $blue;
    border: 2px solid $blue;

    &:hover {
        color: $off-white;
    }
}

@mixin button-effect {
    transition: 0.2s all;

    &:active {
        transform: translateY(4px);
    }
}


// General Styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;

    // Transition all elements on the screen
    // (except FAQ panel, which has conflicting transitions)
    &:not(.panel) {
        transition-duration: 1s;
        transition-property: margin, padding, width, font-size;
    }
}

body {
    background-color: $off-white;
}

// Typography
h1 {
    font-size: 4rem;
    font-weight: normal;
    padding-bottom: 2rem;
    font-family: 'Sora', sans-serif;
    margin-left: -5px;
    color: $black;
}

h2 {
    font-size: 2.25rem;
    font-weight: normal;
    padding-bottom: 1rem;
    font-family: 'Sora', sans-serif;
    color: $black;
}

p {
    font-size: 1.25rem;
    line-height: 1.625rem;
    padding-bottom: 1rem;
    color: $black;

    &:last-child {
        padding-bottom: 0;
    }

    a {
        text-decoration: none;
        color: $blue;
        border-bottom: 2px solid $blue;

        &:hover, &:focus, &:active {
            font-weight: bold;
            text-decoration: none;
        }
    }
}


// Nav
nav {
    background-color: white;
    border-bottom: 2px solid rgba($light-blue, 25%);
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    height: $nav-height;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;

    .left, .right {
        display: flex;
        align-items: center;
    }

    a {
        margin-left: 2em;
        text-decoration: none;
        color: $blue;
        font-family: 'Sora', sans-serif;
    }

    .link {
        border-bottom: 2px solid $blue;
        transition: all 0.2s;

        &:not(:focus):hover, &.active {
            // underline upon hover, disable hover upon click
            font-weight: bold;
        }
    }

    #logo {
        height: $nav-height;
        align-self: flex-start;
        border: none;

        img {
            width: $nav-height;
            height: $nav-height;
            position: relative;
            bottom: 0;
            top: 0;
        }
    }

    #mlh-badge {
        align-self: flex-start;
        width: 100px;
        height: 0;
    }
}


// Section padding
section {
    padding: 100px 5rem 0px; // Set up to avoid nav overlap when linked
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

// Hero
#hero {

}

// HERE
// About
#about {
    #about-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        #about-text {
            width: 60%;
        }
    }

    #about-buttons {
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        align-items: flex-start;

        a {
            @include button-secondary;
            display: flex;
            align-items: center;
            margin: 20px 0px;
            width: 100%;
        }

        i.fa-arrow-right, i.fa-images {
            font-size: 1.6em;
            color: $orange;
            padding-right: 10px;
        }
    }
}


// FAQ
#faq {
    #faq-cards {
        margin-top: 40px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        // TODO: This can be cleaner.
        $card-m: 20px;

        &-left {
            width: calc(50% - (#{$card-m} / 2));
            margin-right: $card-m / 2;
        }

        &-right {
            width: calc(50% - (#{$card-m} / 2));
            margin-left: $card-m / 2;
        }

        .card {
            width: 100%;
            margin-bottom: $card-m;
            border-radius: 7px;
            background-color: $light-blue;

            @include button-effect;
            &:active {
                transform: none;
            }

            .accordion-header {
                background-color: transparent;
                cursor: pointer;
                outline: none;
                text-align: left;
                padding: 20px 30px;
                border: none;
                width: 100%;
                font-size: 1.25rem;

                .fa-plus, .fa-minus {
                    margin-right: 10px;
                    color: $blue;
                }
            }

            .panel {
                display: none; // Toggled in JS
                margin-top: -30px;
                padding: 20px 30px;
                font-size: 0.8em;
                // Align w/ header text, not sure if this can be made cleaner.
                margin-left: 35px;

                p, em {
                    color: $dark-blue;
                    line-height: 23px;
                    margin-bottom: 10px;
                }
            }
        }

        .active {
            background-color: white;

            // Need to explicitly set for some reason
            .accordion-header, .panel {
                color: $dark-blue;
            }

            &:hover {
                background-color: white;
            }
        }
    }
}


// Contact
footer {
    width: 100%;
    height: 300px;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 20px;
    background-image: url("../assets/footer/footer.svg");
    background-repeat: repeat no-repeat;
    background-position: bottom center;
    background-size: auto 300px;
    overflow-x: clip;

    #footer-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 235px;
        margin: auto;
        padding: 15px;
        text-align: center;

        h2 {
            margin-top: -5px;
            margin-bottom: -5px;
        }

        p {
            font-size: 1em;
        }

        // FA brand icons
        i {
            font-size: 3em;
            padding: 0px 5px;
            color: $blue;
        }

        a {
            display: inline-block;
            transition: 0.2s;

            i {
                transition: 0.2s;
            }

            &:hover i {
                transform: translateY(-4px);
            }
        }
    }
}


// Media queries for mobile
@media screen and (min-width: 1700px) {
    // Nav
    nav #mlh-badge {
        width: 140px;
    }
}

@media screen and (max-width: 1500px) {
    // About
    #about {
        #about-content {
            flex-direction: column;

            #about-text {
                width: 100%;
            }
        }

        #about-buttons {
            flex-direction: row;
            justify-content: center;
            width: 70%;

            a {
                margin: 10px;
            }
        }
    }

    // FAQ
    #faq #faq-cards {
        flex-direction: column;

        &-left, &-right {
            margin: 0;
            width: 100%;
        }
    }
}

@media screen and (max-width: 1220px) {
    // About
    #about #about-content #about-buttons {
        width: 100%;
    }
}

@media screen and (max-width: 955px) {
    // Redefining nav height for mobile
    $nav-height: 60px;

    // Nav
    nav {
        height: $nav-height;

        #logo img {
            width: $nav-height;
            height: $nav-height;
        }

        #mlh-badge {
            width: 90px;
        }

        .link {
            display: none;
        }
    }

    // Section padding
    section {
        padding: 75px 3.5rem 0px; // Set up to avoid nav overlap when linked
    }
}

@media screen and (max-width: 900px) {
    // Typography
    h1 {
        text-align: center;
        font-size: 2.5em;
    }

    section > p {
        text-align: center;
        font-size: 1em;
    }

    // About
    #about #about-content {
        p {
            font-size: 1em;
        }

        #about-buttons {
            flex-direction: column;
            width: 60%;

            a {
                margin-left: 0;
            }
        }
    }

    #faq #faq-cards {
        margin-top: 20px;
        flex-direction: column;

        &-left, &-right {
            margin: 0;
            width: 100%;
        }

        .card {
            .accordion-header {
                padding: 10px 20px;
                font-size: 1em;
            }

            .panel {
                padding: 20px;
                margin-left: 30px;
                padding-bottom: 10px; // TODO: Why does padding: 10px not look good?

                p {
                    margin-bottom: 0;
                    font-size: 1em;
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {

    #about {

        #hackathon-content {
            margin: 0;
            padding: 20px;

            i {
                font-size: 1.5em;
            }

            p {
                font-size: 1em;
            }

            #hackathon-buttons {
                width: 100%;
            }
        }
    }

    #faq #faq-wrapper {
        // Only center the "contact" string in the FAQ
        a {
            white-space: nowrap;
        }

        .contact  {
            text-align: center;
        }
    }

    footer {
        height: 200px;
        background-size: auto 200px;

        #footer-content {
            height: 157px;

            h2 {
                font-size: 1.2em;
            }

            p {
                font-size: 0.8em;
            }

            i {
                font-size: 2em;
            }
        }
    }
}