

// Variables
$dark-blue: #1B315E;
$blue: #2A407D;
$light-blue: #465395;
$red: #F1656E;
$orange: #F9A56F;
$pink: #FAC5BF;
$light-gray: #a2a8cd;

$nav-fontsize: 1.3em;
$nav-height: 90px;

$img-border-radius: 20px;

// Clip width (here so it can cascade to media queries)
$front-width: 30px;
$back-width: 10px;

$leadership-size: 220px;
$leadership-size-mobile: 180px;
$leadership-size-mobile-sm: 140px;

// Just to make it more semantic
$font-extrabold: 700;
$font-bold: 600;
$font-medium: 500;
$font-regular: 400;

// Size for all titles on page
$title-size: 3em;

// MAX events (across either day)
// TODO: Make this more dynamic via JS?
$event-count: 6;

// Import carousel
@import '../node_modules/slick-carousel/slick/slick.css';
@import '../node_modules/slick-carousel/slick/slick-theme.css';

// Mixins
@mixin button {
    background-color: $red;
    text-decoration: none;
    user-select: none;
    padding: 10px 20px;
    border-radius: 50px;
    display: inline-block;
    color: white;
    cursor: pointer;
    @include button-effect($red);
}

@mixin button-effect($color) {
    transition: 0.2s all;
    &:hover {
        background-color: lighten($color, 5%);
    }
    &:active {
        transform: translateY(4px);
    }
}

// Functions for random color selection (hero)
@function rand-color($colors...) {
    @return nth($colors, random(length($colors)))
}


// General
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
    // Transition all elements on the screen
    // (except FAQ panel, which already has a transition,
    // and the section days, which need no transition.)
    &:not(.panel):not(#days):not(.number) {
        transition: all 1s ease;
    }

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $light-blue;
}

a {
    text-decoration: none;
    color: white;
}

p {
    font-size: 1.3em;
}

// Padding for all sections where needed
// (modified on media queries only)
.section-pad {
    padding: 140px;
}

.section-pad-top {
    padding-top: 140px;
}

.section-pad-left {
    padding-left: 140px;
}


// Nav
nav {
    background-color: rgba(white, 5%);
    display: flex;
    justify-content: space-between;
    font-size: $nav-fontsize;
    height: $nav-height;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;

    .left, .right {
        display: flex;
        align-items: center;
    }

    a {
        padding: 0px 5px;
        margin: 0px 10px;
    }

    .link:hover {
        // Top border doesn't push content,
        // for some reason border-box doesn't work here?
        border-top: 3px solid transparent;
        border-bottom: 3px solid white;
    }

    #login {
        @include button;
    }

    #logo {
        align-self: flex-start;
        width: $nav-height;
        height: $nav-height;

        img {
            width: $nav-height;
            height: $nav-height;
            position: relative;
            bottom: 0;
            top: 0;
        }
    }

    #mlh-badge {
        align-self: flex-start;
        width: 100px;
        height: 0;
    }
}

#hero {
    // SASS needs to parse variable value inline
    height: 100vh;
    background-color: $light-blue;
    position: relative;
    overflow: hidden;

    #hero-content {
        height: calc(100vh - #{$nav-height});
        margin-top: $nav-height;
        display: flex;
    }

    #hero-text {
        z-index: 2;
        white-space: nowrap;
        margin-top: 13%;
    }

    p {
        // This lets the different h elements
        // appear to be equally spaced.
        line-height: 0.7;
        margin-bottom: 30px;
    }

    #bh7 {
        font-size: 5.4em;
        font-weight: $font-extrabold;
    }

    #premiere {
        font-size: 2.5em;
        font-weight: $font-medium;
    }

    #dates {
        font-size: 1.3em;
        font-weight: $font-regular;
    }

    #register {
        @include button;
        padding: 10px 80px;
        font-size: 2em;
    }

    // Shelf things!
    #desk-container {
        position: absolute;
        height: 100%;
        width: 100%;
        right: 0;
        bottom: 0;
        z-index: 1;

        #desk, #wire {
            position: absolute;
            height: 100%;
            width: 100%;
            background-position: bottom right;
        }

        #desk {
            background-image: url("../assets/desk1.svg");
            background-repeat: no-repeat;
            z-index: 3;
        }

        #wire {
            background-size: auto;
            background-image: url("../assets/wire.svg");
            background-repeat: repeat-y;
        }
    }

    #shelf {
        position: absolute;
        width: 100%;
        height: 300px;
        left: 0;
        right: 0;
        bottom: -20px; // SVG crop issues?
        background-image: url("../assets/shelf.svg");
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
        z-index: 2;
    }

    #shapes {
        position: absolute;
        right: 0;
        height: 900px;
        width: 900px;
        margin-top: -80px;
        background-image: url("../assets/shapes.svg");
        background-repeat: no-repeat;
        background-position: center;
        z-index: 1;
    }
}


#hackathon {
    background-color: $dark-blue;

    h1 {
        font-size: $title-size;
    }

    p {
        margin-bottom: 20px;
    }

    .carousel {
        width: 100%;
        margin: 0 auto;

        .slick-list {
            // Slider depends on having the overflow-x hidden,
            // CSS (per spec) doesn't allow separate overflow-y and x.
            // So, we add some padding to cheat it.
            // (https://css-tricks.com/popping-hidden-overflow/)
            padding-top: 60px !important; // Overrides slick.css
            margin-top: -60px;
            overflow: hidden;
        }

        .slick-slide {
            $slide-size: 300px;
            height: $slide-size;
            margin-right: 20px; // Same margin as wire top calculation

            &:focus {
                outline: none;
            }

            .wire {
                position: absolute;
                width: 200%;
                margin: 0;
                height: 15px;
                background: $pink;
                top: -(15px + 20px); // Emphasize 20px margin on 15px height
                z-index: 2;
            }

            // Offset clips above the carousel image
            // Pos: abs because pos: rel causes the two clips,
            // despite having different offsets,
            // to interfere with each other when trying to adjust their offset.
            .front-clip, .back-clip {
                position: absolute;
                top: -60px;
            }

            .front-clip {
                // Front clip: center left edge, then center the clip itself.
                margin-left: ($slide-size / 2) - ($front-width / 2);
                width: $front-width;
                height: 80px;
                background-color: $orange;
                z-index: 3;
            }

            .back-clip {
                width: $back-width;
                height: 60px;
                background-color: $red;
                // Back clip: center left edge, then center the clip itself,
                // then do left offset from top clip
                margin-left: ($slide-size / 2) - ($front-width / 2) - $back-width;
                margin-top: 10px; // Vertical offset from top clip
                z-index: 0;
            }

            img {
                position: relative;
                top: 0;
                width: $slide-size;
                height: $slide-size;
                border-radius: 20px;
                z-index: 2;

            }
        }

        .slick-arrow {
            width: 60px;
            height: 60px;
            background-color: $blue;
            border: 2px solid #A3A9CA;
            box-sizing: border-box;
            border-radius: 50%;
            // slick-theme has a transform we don't need!
            transform: none;
            @include button-effect($blue);
        }

        // Make sure these appear over the slides!
        .slick-prev, .slick-next {
            z-index: 3;
        }

        // Use FontAwesome as pseudo-element so we don't
        // have to fork slick-carousel.
        // (https://fontawesome.com/how-to-use/on-the-web/advanced/css-pseudo-elements)
        .slick-prev::before, .slick-next::before {
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
        }

        .slick-prev {
            left: 1%;

            &::before {
                content: "\f060";
            }
        }

        .slick-next {
            right: 1%;

            &::before {
                content: "\f061";
            }
        }

    }

    #hackathon-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        #hackathon-text {
            width: 60%;
        }
    }

    #hackathon-buttons {
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        align-items: flex-start;

        a {
            @include button;
            @include button-effect($light-blue);
            display: flex;
            align-items: center;
            background-color: $light-blue;
            margin: 20px 0px;
            padding: 30px;
            border-radius: $img-border-radius;
            width: 100%;
        }

        p {
            margin: 0px;
            font-size: 1.2em;
            font-weight: $font-medium;
        }

        i.fa-arrow-right, i.fa-tools {
            font-size: 1.6em;
            color: $red;
            padding-right: 10px;
        }
    }
}

#faq {
    background-color: $dark-blue;
    #faq-wrapper {
        h1 {
            font-size: $title-size;
            margin-bottom: 40px;
        }
        #faq-cards {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            // TODO: This can be cleaner.
            $card-m: 20px;
            &-left {
                width: calc(50% - (#{$card-m} / 2));
                margin-right: $card-m / 2;
            }
            &-right {
                width: calc(50% - (#{$card-m} / 2));
                margin-left: $card-m / 2;
            }
            .card {
                width: 100%;
                margin-bottom: $card-m;
                border-radius: 7px;
                background-color: $light-blue;
                @include button-effect($light-blue);
                &:active {
                    transform: none;
                }
                .accordion-header {
                    background-color: transparent;
                    cursor: pointer;
                    outline: none;
                    text-align: left;
                    padding: 20px 30px;
                    border: none;
                    width: 100%;
                    font-size: $nav-fontsize;

                    .fa-plus, .fa-minus {
                        margin-right: 10px;
                    }
                    .fa-plus {
                        &-red    { color: $red; }
                        &-pink   { color: $pink; }
                        &-orange { color: $orange; }
                    }
                    .fa-minus {
                        color: $blue;
                    }
                }
                .panel {
                    display: none; // Toggled in JS
                    margin-top: -30px;
                    padding: 20px 30px;
                    font-size: 0.8em;
                    // Align w/ header text, not sure if this can be made cleaner.
                    margin-left: 35px;

                    p {
                        color: $dark-blue;
                        line-height: 23px;
                        margin-bottom: 10px;
                    }
                    a {
                        color: $red;
                    }
                }
            }
            .active {
                background-color: white;

                // Need to explicitly set for some reason
                .accordion-header, .panel {
                    color: $dark-blue;
                }
                &:hover {
                    background-color: white;
                }
            }
        }
        #contact {
            a {
                text-transform: uppercase;
                color: $red;
                font-weight: $font-bold;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

#schedule {
    background-color: $blue;

    h1 {
        font-size: $title-size;
    }

    #schedule-block {
        // TODO: make margin consistent across other element
        margin: 40px auto 0px auto;
        width: 1000px;
        background-color: $light-blue;
        border-radius: $img-border-radius;
        position: relative;
    }

    #schedule-tapes {
        display: flex;
        justify-content: space-around;
        position: absolute;
        width: 100%;

        .tape {
            // For some reason, margin doesn't work on #schedule-tapes.
            margin-top: -20px; // Half of tape height
            height: 40px;
            width: 25%;
            background-color: rgba($red, 60%);
        }
    }

    #schedule-content {
        display: flex;
        justify-content: space-around;
        padding: 60px 100px;

        #days {
            width: 40%;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            user-select: none;
            cursor: pointer;
            color: white;
            .day {
                .number {
                    font-size: 6.5em;
                    font-weight: $font-bold;
                    line-height: 1; // TODO: Can this be done cleaner?
                }

                .name {
                    font-size: 2em;
                    font-weight: $font-regular;
                }
            }

            // Class set by JS in index.js on click
            .day-active {
                .number, .name {
                    color: $orange;
                }
            }
        }

        .events {
            width: 60%;

            // Sequentially assign colors to all elements
            $colors: $red, $orange, $light-gray;
            @for $i from 1 through $event-count {
                .event:nth-child(#{$i}) {
                    border-left: 30px solid nth($colors, $i % length($colors) + 1);
                }
            }

            .event {
                background-color: white;
                border-radius: 15px;
                margin: 10px 0px;
                padding: 10px;

                .time {
                    color: $light-blue;
                }
                .title {
                    color: black;
                    font-size: 1.3em;
                }
            }
        }

    }

}

#leadership {
    background-color: $light-blue;

    h1 {
        font-size: $title-size;
    }

    #leaders {
        // Grid is easier than flex here
        display: grid;
        grid-template-columns: repeat(5, $leadership-size);
        gap: 50px;
        justify-items: center;
        justify-content: center;

        .leader {
            width: $leadership-size;
            text-align: center;
            margin-left: auto;
            margin-right: auto;

            img {
                border-radius: $img-border-radius;
                width: $leadership-size;
                height: $leadership-size;
            }

            .leader-tape {
                position: relative;
                margin: 0px auto -10px auto;
                height: 20px;
                width: 50%;
                background-color: rgba($red, 60%);
            }

            .nowrap {
                white-space: nowrap;
            }
        }
    }
}

footer {
    width: 100%;
    height: 300px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../assets/footer.svg");
    background-repeat: repeat no-repeat;
    background-position: bottom center;
    background-size: auto 300px;
    overflow-x: clip;

    #footer-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 235px;
        margin: auto;
        padding: 15px;
        text-align: center;

        h2 {
            margin-bottom: -5px;
        }

        p {
            font-size: 1em;
        }

        // FA brand icons
        i {
            font-size: 3em;
            padding: 0px 5px;
        }
    }
}


// Media queries for mobile


@media screen and (max-width: 1630px) {

    #leadership #leaders {
        justify-content: space-between;
    }
}

@media screen and (max-width: 1500px) {

    .section-pad {
        padding: 80px;
    }

    .section-pad-top {
        padding-top: 80px;
    }

    .section-pad-left {
        padding-left: 80px;
    }

    #hero {

        #bh7 {
            font-size: 5.0em;
        }

        #premiere {
            font-size: 2.0em;
        }

        #dates {
            font-size: 1.1em;
        }

        #shapes {
            right: -100px;
        }

        #desk-container {
            right: -100px;
        }

        #shelf {
            height: 250px;
            overflow: hidden;
        }
    }

    #hackathon {
        .carousel {
            .slick-slide {
                $slide-size: 250px;
                height: $slide-size;

                .front-clip {
                    margin-left: ($slide-size / 2) - ($front-width / 2);
                }

                .back-clip {
                    $back-width: 10px;
                    width: $back-width;
                    margin-left: ($slide-size / 2) - ($front-width / 2) - $back-width;
                }

                img {
                    width: $slide-size;
                    height: $slide-size;
                }
            }
        }

        #hackathon-content {
            flex-direction: column;

            #hackathon-text {
                width: 100%;
            }

            #hackathon-buttons {
                flex-direction: row;
                justify-content: center;
                width: 70%;

                a {
                    margin: 10px;
                }
            }
        }
    }

    #schedule #schedule-block {
        width: 90%;
    }

    #leadership #leaders {
        grid-template-columns: repeat(5, $leadership-size-mobile);
        justify-content: space-between;
        width: 100%;
        gap: 30px;

        .leader {
            width: $leadership-size-mobile;

            img {
                width: $leadership-size-mobile;
                height: $leadership-size-mobile;
            }
        }
    }
}

@media screen and (max-width: 1220px) {

    #hackathon #hackathon-content #hackathon-buttons {
        width: 100%;
    }

    #leadership #leaders {
        grid-template-columns: repeat(4, $leadership-size-mobile);
        justify-content: space-between;
    }
}

@media screen and (max-width: 900px) {

    // Redefine only for mobile
    $nav-height: 60px;

    h1, section > p {
        text-align: center;
    }

    #leadership h1, #faq #faq-wrapper h1, #schedule h1, #hackathon h1 {
        font-size: 2.5em;
    }

    p {
        font-size: 1em;
    }

    .section-pad {
        padding: 40px;
    }

    .section-pad-top {
        padding-top: 30px;
    }

    .section-pad-left {
        padding: 20px;
    }

    nav {
        height: $nav-height;
        position: absolute;

        #logo img {
            width: $nav-height;
            height: $nav-height;
        }

        #mlh-badge {
            width: 90px;
        }

        .link {
            display: none;
        }
    }

    #hero {
        #hero-content {
            height: calc(100vh - #{$nav-height});
        }

        #bh7 {
            font-size: 4.2em;
        }

        #premiere {
            font-size: 2.0em;
        }

        #dates {
            font-size: 1.1em;
        }

        #hero-text {
            margin-top: 10vh;
        }

        #desk-container {
            right: -200px;
            width: 120%;
        }

        #shelf {
            height: 130px;
        }
    }

    #hackathon {
        .carousel {
            .slick-list {
                margin-top: 0;
            }

            .slick-slide {
                $front-width: 25px;
                $back-width: 10px;
                $slide-size: 200px;
                height: $slide-size;

                .front-clip, .back-clip {
                    top: -50px;
                }


                .front-clip {
                    margin-left: ($slide-size / 2) - ($front-width / 2);
                    width: $front-width;
                    height: 70px;
                }

                .back-clip {
                    width: $back-width;
                    margin-left: ($slide-size / 2) - ($front-width / 2) - $back-width; // Peek out from top clip
                }

                img {
                    width: $slide-size;
                    height: $slide-size;
                }
            }

        }

        #hackathon-content #hackathon-buttons {
            flex-direction: column;
            width: 60%;

            a {
                margin-left: 0;
            }
        }
    }

    #schedule {

        #schedule-block {
            width: 100%;
        }

        #schedule-tapes {
            justify-content: center;

            .tape {
                margin-top: -10px; //Half of tape height
                height: 20px;
            }
        }

        #schedule-content {
            flex-direction: column;
            padding: 20px;

            #days {
                width: auto;
                margin-top: 10px;
                flex-direction: row;

                .day {
                    .number {
                        font-size: 5em;
                        text-align: center;
                    }

                    .name {
                        font-size: 1.5em;
                    }
                }
            }

            .events {
                width: auto;

                .event {
                    padding: 5px;

                    .title {
                        font-size: 1em;
                    }
                }
            }
        }
    }

    #faq #faq-wrapper {

        h1 {
            margin-bottom: 20px;
        }

        #faq-cards {
            flex-direction: column;

            &-left, &-right {
                margin: 0;
                width: 100%;
            }

            .card {
                .accordion-header {
                    padding: 10px 20px;
                    font-size: 1em;
                }

                .panel {
                    padding: 20px;
                    margin-left: 30px;
                    padding-bottom: 10px; // TODO: Why does padding: 10px not look good?

                    p {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    #leadership #leaders {
        grid-template-columns: repeat(3, $leadership-size-mobile);
        justify-content: space-around;
        gap: 20px;
    }
}

@media screen and (max-width: 650px) {

    .section-pad {
        padding: 20px;
    }

    nav #login {
        padding: 8px 30px;
        margin: 0;
        font-size: 0.8em;
    }

    #hero {

        p {
            line-height: 0.4;
        }

        #bh7 {
            font-size: 2.4em;
        }

        #premiere {
            font-size: 1.5em;
        }

        #dates {
            font-size: 0.7em;
        }

        #desk-container {
            right: -160px;
            width: 160%;
        }

        #register {
            @include button;
            padding: 10px 40px;
            font-size: 1.2em;
        }

    }

    #hackathon {
        .carousel .slick-arrow {
            display: none !important; // Overrides slick.css
        }

        #hackathon-content {
            margin: 0;
            padding: 20px;

            i {
                font-size: 1.5em;
            }

            p {
                font-size: 1em;
            }

            #hackathon-buttons {
                width: 100%;
            }
        }
    }

    #faq #faq-wrapper {
        // Only center the "contact" string in the FAQ
        a {
            white-space: nowrap;
        }

        #contact  {
            text-align: center;
        }
    }

    #leadership #leaders {
        grid-template-columns: repeat(2, $leadership-size-mobile-sm);

        .leader {
            width: $leadership-size-mobile-sm;

            img {
                width: $leadership-size-mobile-sm;
                height: $leadership-size-mobile-sm;
            }
        }
    }

    footer {
        height: 200px;
        background-size: auto 200px;

        #footer-content {
            height: 160px;

            p {
                font-size: 0.8em;
            }

            i {
                font-size: 2em;
            }
        }
    }
}

@media screen and (max-width: 320px) {

    #hero #premiere {
        font-size: 1.2em;
    }
}
