@import "variables";

$faq-gutter: 15px;

.faq__items {
  display: flex;
  flex-flow: row wrap;
  margin-left: -1 * $faq-gutter;
  margin-right: -1 * $faq-gutter;
}

.faq__item {
  flex: 1 0;
  min-width: 280px;
  margin-bottom: 2.5em;
  margin-left: $faq-gutter;
  margin-right: $faq-gutter;
}

.faq__question {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0.4em;
  color: $orange;
}
