@import "variables";

/* Base
 */

body, html {
  height: 100%;
  min-height: 250px;
}

body {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #6a6a6a;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: $font-light;
  overflow-x: hidden;
}

/* Page components
 */

.section {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;

  @media (max-width: 480px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.double-section {
  padding-top: 100px;
  display: flex;
  flex-flow: row wrap;
  max-width: 1400px;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 75px;
}

/* Main section
 */

.main {
  width: 100%;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;

  @media (max-width: 480px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.main__wrapper {
  padding-top: 150px;
  padding-bottom: 90px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  // height: 100%
  justify-content: space-around;
}

.main__left, .main__right {
  justify-content: center;
  display: flex;
  flex-flow: column;
  margin-left: 20px;
  margin-right: 20px;
  min-height: calc(85vh - 120px);

  @media (max-width: 1100px) {
    min-height: calc(85vh - 80px);
  }

  @media (max-width: 480px) {
    min-height: calc(105vh);
    margin-top: -15vh;
    margin-left: 15px;
    margin-right: 15px;
  }
}

.main__left {
  @media (max-width: 480px) {
    height: 100%;
  }
}

.main__left__content {
  margin-left: 150px;
}

.main__right__content {
  margin-left: -150px;
}

.main__right {
  flex: 400px 1 1;
  max-width: 500px;
}

.main__right p {
  @media (min-width: 480px) {
    padding-left: 10px;
  }
}

.about__left-background {
  background: asset-url("home_asset_1.png") no-repeat left;
  width: 700px;
  height: 700px;
  position: absolute;
  left: 10px;
  z-index: -1;
  opacity: 0.3;
  background-size: 700px;

  @media (max-width: 480px) {
    background-image: asset-url("home/about-background-bricks-double.svg");
    height: 1200px;
    margin-top: 40px;
  }
}

.about__right-background {
  background: asset-url("home_asset_2.png") no-repeat center center;
  width: 800px;
  height: 1040px;
  position: absolute;
  right: -35px;
  z-index: -1;
  opacity: 0.3;
  background-size: 700px;
  margin-left: 100px;
  margin-top: 200px;
}

.main__pic {
  width: 600px;
  padding: 0 20px 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 50px;

  @media (max-width: 480px) {
    width: 200px;
  }
}

/* Video section
 */

.video {
  padding-top: 49px;
  padding-bottom: 50px;
  padding-right: 0;
  padding-left: 0;
}

.video__wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.video__frame {
  margin-bottom: 15px;
  width: 625px;
  height: 350px;

  @media (max-width: 1400px) {
    width: 690px;
    height: 390px;
  }

  @media (max-width: 680px) {
    width: 560px;
    height: 315px;
  }

  @media (max-width: 600px) {
    width: 400px;
    height: 225px;
  }
}

.video__description {
  font-style: italic;
  font-size: 22px;
}

/* What section
 */

.what {
  padding-bottom: 50px;

  @media (min-width: 1400px) {
    width: 650px;
    padding-right: 0;
    padding-left: 25px;
  }

  @media (max-width: 1400px) {
    width: 100%;
  }
}

.what__wrapper {
  margin: 0 auto;
  max-width: 700px;
}

.what p {
  @media (min-width: 1400px) {
    padding-left: 20px;
  }
}

.what__background {
  background: asset-url("home/what_background.png") no-repeat center center;
  width: 500px;
  height: 500px;
  position: absolute;
  z-index: -1;
  opacity: 0.3;
  background-size: 500px;
  margin-top: 200px;
}

/* Travel section
 */

.travel {
  padding-top: 50px;
  padding-bottom: 50px;
}

.travel__wrapper {
  display: flex;
  flex-flow: row wrap;
  max-width: 1400px;
  justify-content: space-between;
  align-items: center;

  //display: flex;
  //flex-flow: column nowrap;
  //justify-content: center;
}

.travel__text-wrapper {
  //margin: 0 auto;
  max-width: 700px;
}

/* FAQ section
 */

.faq {
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: -1;
}

.faq__wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 100%;
  justify-content: space-around;
}

/* Sponsor section
 */

.sponsor {
  padding-top: 50px;
  padding-bottom: 7em;

  @media (max-width: 480px) {
    padding-bottom: 4em;
  }
}

.sponsor a {
  display:block {}
}

.sponsor__wrapper {
  margin: 0 auto;
  max-width: 1000px;
}

.sponsors {
  .sponsors-col {
    padding: 0;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    .sponsor {
      padding: 10px 10px;
    }
  }
}

.sponsors-col-x-lg {
  margin-bottom: 50px;
}

.sponsors-col-x-lg img {
  flex: 1 1;
  width: 90%;
  display: block;
  margin: 0 auto;
}

.sponsors-col-lg {
  margin-bottom: 40px;
}

.sponsors-col-lg img {
  flex: 2 2;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.sponsors-col.sponsors-col-lg a {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.sponsors-col-med {
  margin-bottom: 30px;
}

.sponsors-col-med img {
  flex: 2 2;
  width: 70%;
  display: block;
  margin: 0 auto;
}

.sponsors-col-med a {
  width: 70%;
  display: block;
  margin: 0 auto;
}

.sponsors-col-sm img {
  flex-wrap: wrap;
  flex: 2 2 100%;
  width: 15%;
  display: block;
  margin: 0 auto;
}

.button__wrapper {
  text-align: center;
}

/* Footer-break section
 */

.footer-break {
  background: asset-url("home/footer-background.png") no-repeat center center;
  background-size: auto 120px;
  width: 100%;
  height: 300px;
  margin-bottom: 5em;
  opacity: 0.75;
  background-size: 1200px, 250px;

  @media (max-width: 480px) {
    background-size: auto 100px;
    height: 100px;
    margin-bottom: 3em;
  }
}

/* Footer section
 */

.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4em;
}

.footer, .footer p {
  font-size: 14px;
}

.footer__rit-logo:hover, .footer__coderit-logo:hover {
  opacity: 0.7;
  transition: opacity 300ms ease-out;
}

.footer__rit-logo {
  width: 90px;
  margin-bottom: 0.5em;
}

.footer__coderit-logo {
  margin-left: 1px;
  margin-bottom: -5px;
  width: 125px;
}

.footer__about {
  text-align: center;
}

.footer__contact {
  text-align: right;
}

@media (max-width: 480px) {
  .footer {
    flex-flow: column nowrap;
    justify-content: center;
    padding-bottom: 3em;
  }

  .footer__rit, .footer__about, .footer__contact {
    text-align: center;
    margin-bottom: 1em;
  }
}
