@import "variables";

$nav-space: 20px;

.nav{
  position: fixed;
  background: #ffffff;
  width:100%;
  padding-bottom: 25px;
  z-index: 1;
}

.nav__content {
  max-width:1200px;
  margin: 0 auto;
  padding-left:40px;
  padding-right:40px;
  box-sizing: border-box;
  font-size: 18px;
  padding-top: 80px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  @media (max-width: 1100px) {
    padding-top: 40px;
    padding-bottom: 20px;
  }
}

/* Nav Logo
 */

.nav__logo{
  height: 100px;
  width: 100px;
  margin-top: -50px;
  margin-right: 50px;
}

/* Nav links
 */

.nav__links {
  margin-left: -1 * $nav-space;
  margin-right: -1 * $nav-space;
  margin-top: -10px;
  margin-bottom: -10px;
  display: flex;
  flex-flow: row wrap;

  @media (max-width: 850px) {
    display: none;
  }
}

.nav__link {
  margin: 10px $nav-space;
  display: flex;
  position: relative;
  transition: all 0.15s ease-in-out 0s;

  &, &:visited {
    color: #6a6a6a;
    text-transform: uppercase;
    text-decoration: none;
  }

  &:hover {
    color: #6a6a6a;
    text-shadow: 0 0 1px rgba($white, 0.9);
  }

  &:before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    margin-bottom: -6px;
    bottom: 0;
    left: 0;
    background-color: rgba(#6a6a6a, 0.8);
    visibility: hidden;
    transition: all 0.3s ease-out 0s;
  }

  &:hover:before {
    visibility: visible;
    width: 100%;
  }
}

/* Nav buttons
 */

.nav__signup__button {
  margin-left: auto;
  @media (max-width: 1300px) {
    margin-right: 50px;
  }

  @media (max-width: 1200px) {
    margin-right: 100px;
  }
}
