@import "variables";

$nav-space: 20px;
$nav-space-tablet: 15px;

.nav {
  position: fixed;
  background: #ffffff;
  width: 100%;
  height: 75px;
  z-index: 1;
  @media (max-width: 850px) {
    //position: static;
  }
}

.nav__content{
  font-size: 18px;
  padding-top: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding-right: 5%;
  @media (max-width: 1100px) {
    padding-top: 40px;
    padding-bottom: 20px;
  }
}

/* Nav links
 */

.nav__links {
  padding-left: 15%;
  margin-left: -1 * $nav-space;
  margin-right: -1 * $nav-space;
  margin-top: -10px;
  margin-bottom: -25px;
  display: flex;
  flex-flow: row wrap;
}

.nav__link {
  margin: 10px $nav-space;
  display: flex;
  position: relative;
  transition: all 0.15s ease-in-out 0s;

  &, &:visited {
    color: #6a6a6a;
    text-transform: uppercase;
    text-decoration: none;
  }

  &:hover {
    color: #6a6a6a;
    text-shadow: 0 0 1px rgba($white, 0.9);
  }

  &:before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    margin-bottom: -6px;
    bottom: 0;
    left: 0;
    background-color: rgba(#6a6a6a, 0.8);
    visibility: hidden;
    transition: all 0.3s ease-out 0s;
  }

  &:hover:before {
    visibility: visible;
    width: 100%;
  }

  @media (max-width: 1300px) {
    margin: 10px $nav-space-tablet;
  }

  @media (max-width: 850px) {
    display: none;
  }
}

/* Nav buttons
 */

.nav__buttons {
  flex: none;
  margin-top: -10px;
  margin-bottom: -25px;

  margin-right: 75px;

  @media (max-width: 1200px) {
    padding-left: 25px;
    margin-right: 100px;
  }
}

.nav__mlh{
  display:block;
  max-width:100px;
  min-width:60px;
  position:fixed;
  right:30px;
  top:0;
  width:8%;
  z-index:10000;

  @media (max-width: 850px) {
    left: 30px;
  }
}

.nav__signup__button{
  position: fixed;
  right: 140px;
  @media (max-width: 850px) {
    left: 120px;
    top: 30px;
  }
}