@import "variables";
@import "font-awesome";

/* Base types
 */

p {
  font-size: 16px;
  line-height: 1.7;
}

.text {
  margin-bottom: 1.75em;
}

h2 {
  font-size: 28px;
  margin-bottom: 1.6em;
  line-height: 1.3;
  font-weight: 800;
  color: $black;
}

a, a:visited {
  text-decoration: underline;
  transition: color 0.2s ease-out;
}

a:hover {
  color: darken($orange, 20%);
}

/* Special variants
 */

.subtitle {
  font-size: 25px;
  margin-bottom: 20px;
}

.title {
  font-size: 40px;
  font-weight: 900;
  color: $black;
  text-shadow: 1.5px 0 $black;
  margin-bottom: 20px;
}

/* On-demand style variations
 */

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

li {
  line-height: 1.7;

  @media (max-width: 480px) {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
  }
}

ul {
  padding-left: 4em;
  list-style: initial;

  @media (max-width: 480px) {
    list-style: none;
    padding-left: 0;
  }
}

ul > li {
  padding-bottom: 0.5em;
}

ul ul > li {
  padding-bottom: 0;
}

o {
  color: $orange;
}

b, .bold {
  font-weight: 600;
  color: $orange;
}

strong{
  font-weight: 600;
}

i, em, .italic {
  font-style: italic;
}

.travel-text {
  margin-bottom: 25px;
}

.faq-text {
  margin-bottom: 25px;
}
