:root{
    --dullblue: rgb(50,75,150);
    --purple: rgb(125,100,200);
    --white: rgb(255,255,255);
}

body{
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#app {
    flex: 1 0 auto;
}

.section{
    width: 100%;
    max-width: 1000px;
    text-align: center;
    margin: auto;
    
}
.flex-container{
    display: flex;
    align-items: center;
}
.left-half{
    flex: 40%;
    vertical-align: bottom;
}
.right-half{
    flex: 60%;
}

#placeholder{
    width: 100%;
    height: 500px;
    border-radius: 20px;
    background-color: var(--purple);
}

#hackathon-name{
    height: 65px;
    font-size: 60px;
    font-weight: 900;
    color: var(--dullblue);
}
#hackathon-description{
    height: 35px;
    font-size: 25px;
    font-weight: 700;
    color: var(--dullblue);
}
#hackathon-info{
    height: 15px;
    font-size: 15px;
    color: var(--purple);
}

.button-container{
    width: 400px;
    margin: auto;
}
.hackathon-button{
    flex: 50%;
    height: 40px;
    margin: 10px;

    border: none;
    border-radius: 20px;

    font-family: Poppins;
    font-weight: 200;
    font-size: 18px;
    background-color: var(--purple);
    color: var(--white);
}

#footer {
    height: 50px;
    margin-top: -50px;
    size: 100%;
    margin: 0;
    background-color: blueviolet;
    color: white;
    flex-shrink: 0;
}

@media (max-width: 1000px) {
    .right-half{
        display: none;
    }
    .left-half{
        flex:100%;
    }
}

@media (max-width: 480px) {
    .section{
        width: 100%;
    }
    #hackathon-name{
        font-size: 15vw;
        height: 15.5vw;
    }
    #hackathon-description{
        font-size: 6vw;
        height: 8vw;
    }
    #hackathon-info{
        font-size: 3.6vw;
        height: 4vw;
    }
    .button-container{
        width: 100%;
        margin: auto;
    }
    .hackathon-button{
        flex: 50%;
        height: 40px;
        height: 30px;
        border-radius: 15px;
        font-size: 14px;
    }
}