= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  .form-actions
    .center
      = btn_link_to "Sign Up with My MLH &raquo;".html_safe, user_mlh_omniauth_authorize_path
    %p.center
      Already applied?
      %br
      = btn_link_to "Sign In &raquo;".html_safe, user_mlh_omniauth_authorize_path
