%section{class:'section'}
  %div{class:'container'}
    %h1{class:'section-title'} Sign Up

    .form-container
      #disclaimer
        Registration is simplified with #{link_to "My MLH", "https://my.mlh.io"}! Click below to sign into your existing My MLH account, or create one. You'll be redirected back to BrickHack to finish your application afterwards.
        %ul
          %li Applicants must be 18 years of age by March 5th
          %li RIT students must still apply
          %li International applicants are welcome

    = render 'form'
