%section{class:'section'}
  %div{class:'container'}
    %h1{class:'section-title'} Sign Up

    .form-container
      #disclaimer
        Registration officially closed February 28th. Applications are still welcome, but will be waitlisted.

    = render 'form'
