%section.section
  .container
    .form-container.signup
      %h1.section-title Sign Up or Sign In

      #disclaimer
        - unless Rails.configuration.hackathon['registration_is_open']
          .center
            %strong Registration is now closed. Thanks to everyone who applied!
          %br
          %br
        Registration is simplified with #{link_to "My MLH", "https://my.mlh.io", style: "color: #f5f5f5; text-decoration: underline;"}! Click below to sign into your existing My MLH account, or create one. You'll be redirected back to BrickHack to finish your application afterwards.
        %ul
          %li Applicants must be 18 years of age by February 11th
          %li RIT students must still apply
          %li International applicants are welcome

      = render 'form'
