%section{class:'section'}
  %div{class:'container'}
    %h1{class:'section-title'} Sign Up

    .form-container
      #disclaimer
        Registration officially closed on February 28th. Further applications will be waitlisted.

    = render 'form'