.welcome
  color: $secondary
  display: flex
  flex-direction: column
  justify-content: center
  min-height: 100%
  padding-bottom: 50px
  text-align: center
  #logo-large
    margin-bottom: 25px
    width: 25vw
  .grid
    margin-top: 20px
    .col
      padding: 0
  h1
    margin-bottom: 0