.button, input[type=submit]
  background: $blue-light
  border: 0
  color: $white
  cursor: pointer
  display: inline-block
  font-size: 1.100rem
  min-width: 160px
  padding: 13px 25px
  text-align: center
  @include transition(200ms, all, ease-in-out, 0ms)

  &.small
    font-size: 1rem
    min-width: initial
    padding: 3px 5px
  &:hover, &:focus
    background: lighten($blue-light, 10%)
    @include box-shadow(inset 0 0 10px 3px lighten($blue-light, 5%))
    color: $white_pure
    outline-color: $orange-light
  &:disabled
    color: mix($blue-light, $white, 30%)
    background: lighten($blue-light, 20%)
    cursor: default
    @include box-shadow(inset 0 0 0 0 lighten($blue-light, 5%))
