<h1>Congratulations <%= @user.first_name %>, you're in!</h1>
<p>You have been chosen to attend the very first BrickHack. Make sure to tell your family becuase they will be super proud of your accomplishment. It is time to get excited for a weekend long journey. Learn new things, meet new people from across North America, and create cool stuff.</p>
<p>BrickHack will be taking place <strong>April 18th and 19th</strong> of this year at<br><br/><strong>Rochester Institute of Technology<br/>1 Lomb Memorial Dr<br>Rochester, NY 14623<br>Bulding 70, Golisano</strong></p>
<p>Please RSVP using one of these options:</p>
<p>
  <a href="https://brickhack.io/rsvp/accept" class="button" target="_blank">Yes, I will Attend</a>
  <a href="https://brickhack.io/rsvp/deny" class="button" target="_blank">No, I Can't Attend</a>
</p>
<%= @message.body %>