<h1>Congratulations <%= @user.first_name %>, you're in!</h1>
<p>You have been chosen to attend the very first BrickHack. Make sure to tell your family becuase they will be super proud of your accomplishment. It is time to get excited for a weekend long journey. Learn new things, meet new people from across North America, and create cool stuff.</p>
<p>BrickHack will be taking place <strong>April 18th and 19th</strong> of this year at<br><br/><strong>Rochester Institute of Technology<br/>1 Lomb Memorial Dr<br>Rochester, NY 14623<br>Building 70, Golisano</strong></p>
<p>Reimbursements of up to $50 will be available to participants providing a receipt.</p>
<p>Please RSVP using one of these options:</p>
<p>
  <a href="https://brickhack.io/rsvp/accept" class="button" target="_blank" style="background: #22619E; border: 0; color: #f9f6f3; cursor: pointer; display: inline-block; font-size: 1.1rem; min-width: 160px; padding: 13px 25px; margin: 5px 5px 5px 0; text-align: center; text-decoration: none; -webkit-transition: 200ms all ease-in-out 0ms; -moz-transition-duration: 200ms; -moz-transtition-property: all; -moz-transition-timing-function: ease-in-out; -moz-transition-delay: 0ms; -o-transition: 200ms all ease-in-out 0ms; transition: 200ms all ease-in-out 0ms;">Yes, I will Attend</a>
  <a href="https://brickhack.io/rsvp/deny" class="button" target="_blank" style="background: #22619E; border: 0; color: #f9f6f3; cursor: pointer; display: inline-block; font-size: 1.1rem; min-width: 160px; padding: 13px 25px; margin: 5px 5px 5px 0; text-align: center; text-decoration: none; -webkit-transition: 200ms all ease-in-out 0ms; -moz-transition-duration: 200ms; -moz-transtition-property: all; -moz-transition-timing-function: ease-in-out; -moz-transition-delay: 0ms; -o-transition: 200ms all ease-in-out 0ms; transition: 200ms all ease-in-out 0ms;">No, I Can't Attend</a>
</p>
<%= @message.body %>
