%div{class:'form-container'}
  = simple_form_for @user, url: url_for(action: @user.new_record? ? "create" : "update", controller: "admins"), html: { "data-validate" => "form" } do |f|

    - if f.error_notification.present?
      #disclaimer
        = f.error_notification

    .form-inputs
      = f.input :email, placeholder: "joe@example.com", input_html: { "data-validate" => "presence" }, required: true

    %div{class:'center'}
      = f.button :submit, value: ( @user.new_record? ? 'Create' : 'Save' )
