%section.section.manage
  %h1.section-title Listing Admins

  %table.users.datatable.row-border.stripe.hover.order-column{ "data-source" => manage_admins_path(format: :json) }
    %thead
      %tr
        %th
        %th ID
        %th Email
        %th Read-Only
    %tbody

  %br

  = btn_link_to 'New Admin', new_manage_admin_path
