%section.section.manage
  %h1.section-title= title "Listing Admins"

  %table.users.datatable.row-border.stripe.hover.order-column{ "data-source" => datatable_manage_admins_path(format: :json) }
    %thead
      %tr
        %th
        %th ID
        %th Email
        %th Access Level
    %tbody

  - unless current_user.admin_limited_access
    %br
    = btn_link_to 'New Admin', new_manage_admin_path
