$desktop-width: 1100px
$tablet-width: 720px
$dullblue = #465491
$white = #ffffff

@mixin tablet 
    @media(min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1})
        @content

@mixin desktop
    @media(min-width: #{$desktop-width})
        @content

.navigation 
  display: inline-block
  width: 100%
  margin-bottom: calc(3vh)
  font-size: 12px
  font-weight: 400
  color: $white
  background-color: $dullblue
  ul
      list-style-type: none
      float: right
      


