%table{class:"table schedule-table"}
  %tr
    %th{colspan:3} Saturday April 18th
  %tr
    %td 10:30am
    %td Registration Begins
    %td Golisano Atrium
  %tr
    %td 11:00am
    %td Kick-Off
    %td Innovation Center
  %tr
    %td 12:00pm
    %td Hacking Starts / Lunch Served
    %td Classrooms / Golisano Lounge
  %tr
    %td 12:00pm
    %td Team Building
    %td Room 2400
  %tr
    %td 1:00pm
    %td
      .toggle-details
        Datto Tech Talk
        %i.fa.fa-info-circle
      .details
        %p
          Writing Pretty JavaScript - Brian Kotos
          %br
          Network and Web Security - Dash Winterson
          %br
          Git and Docker - Steven Burgess
          %br
          (three, 20 minute talks)
    %td Innovation Center
  %tr
    %td 2:00pm
    %td
      .toggle-details
        Bose Tech Talk
        %i.fa.fa-info-circle
      .details
        %p
          %span.title Bose SoundTouch In-Depth
          %br
          How does Bose leverage this API in our controller app?
          %br
          What is the API in detail, and how does it work?
          %br
          What are some past hacks using the SoundTouch?
    %td Innovation Center
  %tr
    %td 3:00pm
    %td
      .toggle-details
        Staples Tech Talk
        %i.fa.fa-info-circle
      .details
        %p
          %span.title RESTful API Development using Java Spring and StrongLoop Loopback
          %br
          This tech talk covers the basic of what RESTful API’s are, some basic tenants around API development, the Staples.com API (and a little about Staples) and a hands-on look at developing an API using Java Spring and StrongLoop Loopback.

    %td Innovation Center
  %tr
    %td 4:00pm
    %td
      .toggle-details
        Google Tech Talk
        %i.fa.fa-info-circle
      .details
        %p Android Wear
    %td Innovation Center
  %tr
    %td 4:45pm
    %td
      .toggle-details
        EMC&#178; Tech Talk
        %i.fa.fa-info-circle
      .details
        %p
          Who is EMC and why do we sponsor innovation?
          %br
          What is disruptive technology and why is EMC intent on disrupting itself?
          %br
          How can new engineers make a difference at EMC?
    %td Innovation Center
  %tr
    %td 5:30pm
    %td Teespring Tech Talk
    %td Innovation Center
  %tr{class:"accent"}
    %td 6:00pm
    %td Dinner Served
    %td Golisano Lounge
  %tr
    %td 7:00pm
    %td
      .toggle-details
        Twilio Tech Talk
        %i.fa.fa-info-circle
      .details
        %p
          %span.title Building Hardware Hacks w/ Twilio
          %br
          Web APIs (like Twilio) are awesome but how can I integrate them into hardware?
          %br
          What are some of the coolest hardware hacks that have been at hackathons lately?
    %td Innovation Center
  %tr
    %td 7:45pm
    %td Digital Ocean Tech Talk
    %td Innovation Center
  %tr
    %td 9:00pm
    %td
      .toggle-details
        HVZ Mini Game
        %i.fa.fa-info-circle
      .details
        %p
          A mini version of the Humans versus Zombies Game running from 9pm to 11pm.
          %br
          Humans vs. Zombies is a game of tag played at schools, camps, neighborhoods, libraries, and conventions around the world. Registrations begin at 6pm in the Lobby, all necessary items would be provided at the event.
    %td Golisano Atrium, Outside
  %tr
    %td 11:00pm
    %td MLH Cup Stacking
    %td Golisano Atrium
%table{class:"table schedule-table"}
  %tr
    %th{colspan:3} Sunday April 19th
  %tr
    %td 12:00am
    %td Cookies Served
    %td Golisano Lounge
  %tr
    %td 1:00am
    %td
      .toggle-details
        HackerRank Code Challenge
        %i.fa.fa-info-circle
      .details
        %p
          %a{href: "https://www.hackerrank.com/brickhack"} HackerRank BrickHack Page &raquo;
    %td Online
  %tr
    %td 8:00am
    %td Breakfast Served
    %td Golisano Lounge
  %tr
    %td 12:00pm
    %td Lunch Served
    %td Golisano Lounge
  %tr
    %td 1:00pm
    %td Hacking Ends / Fair Begins
    %td Rooms 1400 & 2400
  %tr
    %td 3:30pm
    %td Fair Ends/ Closing Ceremony Begins
    %td Innovation Center
  %tr
    %td 5:00pm
    %td Closing Ceremony Ends
    %td
%p * This schedule may change the day of the event.
