=stylesheet_link_tag 'home.css'

%nav
  %a.desktop.active{href: '#home'}BrickHack
  %a.desktop{href: '#about'}about
  %a.desktop{href: '#faq'}FAQ
  %a.desktop{href: '#schedule'}Schedule
  %a.desktop{href: '#sponsors'}sponsors
  - if current_user
    =link_to 'My Account', questionnaires_path, class: 'desktop'
  - else
    - text = REGISTRATION_IS_OPEN ? 'Sign Up/In' : 'Sign In'
    =link_to text, new_user_registration_path, class: 'desktop'

  -# mobile nav
  %i{class: 'fa fa-bars mobile mob-nav-header', id: 'hamburger-menu'}
  %h2{class: 'mobile mob-nav-header', style: 'font-size: 24px; text-align: left; color: white; padding:0; margin: 0; position: relative; top: -5px; font-weight: 300'} BrickHack

  %div#mobile-nav
    %a.mobile.active{href: '#home'}BrickHack
    %a.mobile{href: '#about'}about
    %a.mobile{href: '#faq'}FAQ
    %a.mobile{href: '#schedule'}Schedule
    %a.mobile{href: '#sponsors'}sponsors
    - if current_user
      =link_to 'My Account', questionnaires_path, class: 'mobile'
    - else
      - text = REGISTRATION_IS_OPEN ? 'Sign Up / Sign In' : 'Sign In'
      =link_to text, new_user_registration_path, class: 'mobile'

%div.page.triangle-background#home
  %div.center-vertical.plus-nav.center
    =image_tag 'brickhack.png', {id: 'logo', class: 'wow rotate-in'}
    %h3{style: 'text-align: center; color: white; position: relative; top: 48px;'} MARCH 5-6, 2016
    %br
    - if EVENT_IS_OVER
      %p
        %em Thanks for a great BrickHack! See you next year!
    - elsif !REGISTRATION_IS_OPEN
      %p
        %em Registration is now closed.
    - if current_user
      - if current_user.admin
        =link_to manage_dashboard_index_path do
          %div.button MANAGE
      - else
        =link_to questionnaires_path do
          %div.button MY ACCOUNT
    - elsif REGISTRATION_IS_OPEN
      =link_to new_user_registration_path do
        %div.button SIGN UP
    - if EVENT_IS_OVER
      =link_to "https://www.hackerearth.com/sprints/brickhack-ii/submissions/" do
        %div.button SUBMISSIONS
      =link_to "https://www.hackerearth.com/sprints/brickhack-ii/winners/" do
        %div.button WINNERS
    - else
      =link_to "http://goo.gl/forms/Vu9tS7uL3u" do
        %div.button VOLUNTEER

%div#about.home-section
  %div.orange-fill
  %div.bg-image{style: "background-image: url(" +  image_path('background_1.jpg')  + ")" }
    %h1.wow.fade-in.center-vertical What is BrickHack?

  %div.home-content
    %h2.orange.center RIT's PREMIERE HACKATHON
    %h3{style: 'text-align: justify;'} March 5-6 ignites a weekend devoted to 400 designers and coders sinking 24 hours into learning, building, and creating unique projects. Mentors and industry representatives will also join the fray to lend expertise and share wisdom. The event will take place in RIT's Gordon Field House for a centralized, communal hacking experience. Expect food, swag, and timeless brick-laden memories

    .center
      =link_to "https://www.hackerearth.com/sprints/brickhack-ii/" do
        %div.button PRIZES, JUDGES, SUBMISSIONS
      =link_to "https://docs.google.com/document/d/1xMSG496eWKe5ZFrP1VTIJSsUdj0UZPml4oT4gGWQ8iM/edit?usp=sharing" do
        %div.button MENTORS
      =link_to "https://docs.google.com/document/d/1zFrifwAa8CPK4xKVGO7oNxRyCeY9uJ3irtEw0oMK1JY/edit?usp=sharing" do
        %div.button HARDWARE

%div#faq.home-section
  %div.orange-fill
  %div.bg-image{style: "background-image: url(" +  image_path('background_3.jpg')  + ")" }
    %h1.wow.fade-in.center-vertical FAQ
  %div.home-content.faq
    %h2 What is a hackathon?
    %h3
      Great question! A hackathon is best described as an “invention marathon”. Anyone who has an interest in technology attends a hackathon to learn, build & share their creations over the course of a weekend in a relaxed and welcoming atmosphere. You don’t have to be a programmer and you certainly don’t have to be majoring in CS.
      %br
      %br
      MLH has a great list of related questions over at <a href="https://mlh.io/faq" class="orange">mlh.io/faq</a>.

    %h2 What should I bring?
    %h3 Bring yourself, a photo ID, clothes, toiletries, a sleeping bag/blanket, your hacker setup and maybe an idea or two.

    %h2 When does registration close?
    %h3 Acceptance notification will start being sent out February 8th. Applications submitted afterwards will be waitlisted.

    %h2 When will I know if I got in?
    %h3 Acceptance notifications will start being sent out February 8th on a rolling basis.

    %h2 How old do you need to be to attend BrickHack?
    %h3 You need to be 18 years or older to participate in BrickHack. Proof of your age may be requested on the day of the event.

    %h2 Who can participate in BrickHack?
    %h3 Anyone who is currently enrolled as a student or has graduated within the last 12 months can attend! If you don't fit that description, you're welcome to attend as a mentor or volunteer!

    %h2 How much does this cost?
    %h3 Zero. Zip. Nada. Attending BrickHack is free, and we'll be providing plenty of food and swag throughout the weekend!

    %h2 I've never been to a hackathon before, can I still apply?
    %h3 Of course you can! Our attendees will range from first-timers to veteran hackers. Saddle up to a new framework, refresh a stale project, or just hang out and enjoy the diverse company.

    %h2 I don't live near Rochester - can I still come?
    %h3 Definitely. We invite hackers from all over the US and Canada to join us for our annual event!

    %h2 How am I supposed to get there?
    %h3 If you live in the Rochester, NY area, you’re good to go. If not, we still welcome you! Some schools will have a bus provided; see below. Unfortunately we are unable to provide travel reimbursements. If you have any questions, contact <a href="mailto:travel@coderit.org" class="orange">travel@coderit.org</a>.

    %h2 Are busses being provided?
    %h3 Busses will be provided to the following schools: University at Buffalo, Binghamton University, Cornell University, Rensselaer Polytechnic Institute, and Rutgers University.

    %h2 Do I need a team to join?
    %h3 While teams are often recommended and sometimes more fun, they're not required. Feel free to invite your friends. Teams are a max of 4 people.

    %h2 Do RIT students need to apply?
    %h3 Yes, RIT students need to apply just like everyone else.

    %h2 Can high schoolers join?
    %h3 Anyone that fits the age requirements can apply, even high schoolers.

    %h2 Should I bring my own bricks?
    %h3 We've got you covered.

    %h2 My question isn't answered here?
    %h3 Fret not! Feel free to reach out to us on <a href="https://twitter.com/brickhackrit" class="orange">Twitter</a>, <a href="https://www.facebook.com/brickhackrit" class="orange">Facebook</a>, or <a href="mailto:hello@coderit.org" class="orange">email</a>.

%div#schedule.home-section
  %div.blue-fill
  %div.bg-image{style: "background-image: url(" +  image_path('background_1.jpg')  + ")" }
    %h1.wow.fade-in.center-vertical Schedule

  %div.home-content
    %p.center
      %small
        %em * Schedule subject to change
    %table.schedule{border: '0'}
      %tbody
        %th March 5th
        %tr
          %td 10:30AM - 2:00PM
          %td Registration
        %tr
          %td 11:15AM
          %td Lunch
        %tr
          %td 12:00PM
          %td Opening Ceremony
        %tr
          %td 1:00PM
          %td Hacking Begins
        %tr
          %td 1:00PM
          %td
            Datto Tech Talk
            %div Booting without a disk (Live Feature Demo), Making Architectural Decisions the Wrong Way, Docker by Example
        %tr
          %td 2:00PM
          %td
            Microsoft Tech Talk
            %div Getting Started with Azure Cloud
        %tr
          %td 3:00PM
          %td
            Staples Tech Talk
            %div Corporate Innovation in CLOUDy conditions: Looking at cloud based architecture in a corporate enviornment and its use in supporting innovation
        %tr
          %td 3:30PM
          %td
            Facebook Tech Talk
            %div Great big airplanes with internet lasers: Connecting the unconnected with Facebook's Aquila
        %tr
          %td 4:00PM
          %td
            Simone Center: Commercializing your Product
            %div Commercializing your product
        %tr
          %td 4:30PM
          %td
            Sparkpost Tech Talk
            %div Build Something Awesome with SparkPost: How to quickly get up and running with SparkPost. How to setup and use Inbound Relay. Awesome demos and examples.
        %tr
          %td 5:00PM
          %td
            Fedora Tech Talk
            %div Free/Open Source Software Submissions: A Primer.  How to license your code FOSS, how to contribute to FOSS projects, how to specifically do things "The Open Source Way."
        %tr
          %td 5:30PM
          %td Design Workshop by MakeSchool
        %tr
          %td 6:00PM
          %td Dinner
        %tr
          %td 7:00PM
          %td
            "Gotta Code 'Em All" Workshop by MakeSchool
            %div An introduction to programming for iOS using Swift. Covers topics like "if statements", "for-loops", "functions", and "variables". Internet connection and computer required (PC or Mac).
        %tr
          %td 8:00PM
          %td Sushi Snack
        %tr
          %td 11:00PM
          %td MLH Cup Stacking

    %br
    %br
    %br

    %table.schedule{border: '0'}
      %tbody
        %th March 6th
        %tr
          %td 12:00AM
          %td
            %strong Field House will be secured - No one may enter from 12am - 7am, no exceptions.
        %tr
          %td 1:00AM
          %td Cookies
        %tr
          %td 1:00AM - 3:00AM
          %td
            HackerRank Codesprint
            %div
              Test your coding skills with a code sprint! Top 10 coders win HackerRank t-shirts.
              %a{href: "https://www.hackerrank.com/brickhack-ii-codesprint"} Challenge page &raquo;
        %tr
          %td 8:00AM
          %td Breakfast
        %tr
          %td 11:30AM
          %td Lunch
        %tr
          %td 12:00PM
          %td Submissions Due
        %tr
          %td 1:00PM - 2:30PM
          %td Judging
        %tr
          %td 3:00PM
          %td Move to Closing Ceremony Venue
        %tr
          %td 3:30PM - 5:00PM
          %td Closing Ceremony

%div#sponsors.home-section
  %div.blue-fill
  %div.bg-image{style: "background-image: url(" +  image_path('background_2.jpg')  + ")" }
    %h1.wow.fade-in.center-vertical Sponsors


  %div.home-content.center
    =link_to 'Interested in Sponsoring?', image_path("BrickHack_Sponsorship_Information.pdf"), {class: 'button', style: 'margin-bottom: 60px;'}
    %div.sponsor-grid
      %div.third
      %div.third
        %a{href: "http://www.datto.com"}
          =image_tag 'sponsors/datto.png'
      %div.third

      %div.third
        %a{href: "https://www.microsoft.com"}
          =image_tag 'sponsors/microsoft.png'
      %div.third
        %a{href: "http://www.staples.com"}
          =image_tag 'sponsors/staples.gif', id: "staples"
      %div.third
        %a{href: "https://facebook.com"}
          =image_tag 'sponsors/facebook.png', id: "facebook"

      %div.third
        %a{href: "https://www.sparkpost.com"}
          =image_tag 'sponsors/sparkpost.png'
      %div.third
        %a{href: "https://www.mozilla.org"}
          =image_tag 'sponsors/mozilla.png', id: "mozilla"
      %div.third
        %a{href: "https://getfedora.org"}
          =image_tag 'sponsors/fedora.png'

      %div.third
        %a{href: "https://www.twilio.com"}
          =image_tag 'sponsors/twilio.png'
      %br
      %br
      %br
      %br
      %br
      %h2 Partners
      %div.third
        %a{href: "http://magic.rit.edu"}
          =image_tag 'sponsors/magic.gif', id: "magic"
      %div.third
        %a{href: "https://www.hackerearth.com"}
          =image_tag 'sponsors/hackerearth.png', id: "hackerearth"
      %div.third
        %a{href: "https://mlh.io"}
          =image_tag 'sponsors/mlh.png'
      %div.third
        %a{href: "https://www.rit.edu/research/simonecenter/"}
          =image_tag 'sponsors/simone.png'


%a#mlh-trust-badge{style: "position:fixed;top:0;right:20px;max-width:100px;width:10%;min-width:60px;display:block;z-index:10000", href: "https://mlh.io?utm_campaign=Trust%20Badge", target: "_blank"}
  %img{src: "https://s3.amazonaws.com/logged-assets/trust-badge/s2016.png", alt: "MLH Official - Spring 2015", style: "width:100%"}
