%div{class: "welcome"}
  %div{class: "container"}
    %div{class: "content"}
      = image_tag('brickhack_logo.svg', :id=>"logo-large",:alt=>"BrickHack", :title=>"BrickHack")

      %div{class:"banner_text"}
        %h3 Rochester Institute of Technology
        %h3 April 18, 2015

      %div{class:'grid two'}
        = btn_link_to "Register", new_user_registration_path
        = btn_link_to "Sponsors", "/#sponsors", class: "scroll-to"
%section{class:"section", id:"faq"}
  %div{class:"container"}
    %h2{class:'section-title white'}Frequently Asked Questions
    %div{class:"grid two"}
      %div{class:"col"}
        %p BrickHack: RIT's premiere collegiate hackathon. April 18th ignites a weekend devoted to 400 designers and coders sinking 24 hours into building and creating. Mentors and industry representatives will also join the fray to lend expertise, and share wisdom. The event will span 3 floors of the GCCIS' atrium, for a multi-tiered hacking experience. Expect food, swag, and timeless brick-laden memories.
        %dt Location
        %p
          Rochester Institute of Technology
          %br
          1 Lomb Memorial Drive
          %br
          Rochester, New York 14623
          %br
          Bldg 70 - Golisano
      %div{class:"col"}
        %dl{class:"faq"}
          %dt When does registration open?
          %dd Registration will run from January 11, 2015 to February 28. Acceptance notifications will be sent out in March.

          %dt I've never been to a hackathon before, can I still apply?
          %dd Of course you can! Many of our attendees will range from first-timers to veteran hackers. Saddle up to a new framework, refresh a stale project, or just hang out and enjoy the diverse company.

          %dt I don't live near Rochester, can I still come?
          %dd Definitely. We're inviting hackers from all over the US and Canada. Travel reimbursement and busing will be provided to some participants to get you to Rochester. Expect more details soon.

          %dt How am I supposed to get there?
          %dd If you live in the Rochester, NY area, you’re good to go. If you’re coming with a lot of hackers from your school we’ll work to get a bus for you. We’ll cover the cost of gas (up to $50) if you carpool here. We will reimburse a limited number of flights up to $500. If you have any questions contact travel at coderit dot org

          %dt Do I need a team to join?
          %dd While teams are often recommended and sometimes more fun, they're not required. Feel free to come with as few or as many comrades as you like.

          %dt Should I bring my own bricks?
          %dd We've got you covered.
        -#%a{class:"button blue",href:"/faq"} More Questions
%section{id:"sponsors", class:'section'}
  %div{class:"container"}
    %h2{class:'section-title'} Sponsors
    %a{href:"http://dattobackup.com/",class:'sponsor',target:"_blank"}
      = image_tag("sponsors/datto.png", alt:"Datto", :title=>"Datto")
    %div{class:'call-to-action'}
      %p More sponsors are coming soon.
      %a{class:"button blue", href:"mailto:sponorship@coderit.org?subject=BrickHack Sponsorship"}Become A Sponsor
%section{id:"contact", class:'section'}
  %div{class:"container"}
    %h2{class:'section-title white'} Contact
    %div{class:'grid two center'}
      %div{class:'col'}
        %p Have any questions or concerns? Please feel free to contact us.<br/>If you have not yet, please check out the <a href="#faq">FAQ</a> as your questions may already be answered.
        %a{class:"button blue", href:"mailto:carl@coderit.org?subject=BrickHack Questions"}Get In Touch
