=stylesheet_link_tag 'home.css'

%nav
  %a.active{href: '#home'}BrickHack
  %a{href: '#about'}about
  %a{href: '#faq'}FAQ
  %a{href: '#signup'}sign up
  %a{href: '#sponsors'}sponsors

%div.page.triangle-background#home
  %div.center-vertical
    =image_tag 'brickhack_2.png', {id: 'logo'}
    %h3{style: 'text-align: center; color: white; position: relative; top: 48px;'} MARCH 5-6, 2016

%div.page#about


%a#mlh-trust-badge{style: "position:fixed;top:0;right:50px;max-width:100px;width:10%;min-width:60px;display:block;z-index:10000", href: "https://mlh.io?utm_campaign=Trust%20Badge", target: "_blank"}
  %img{src: "https://s3.amazonaws.com/logged-assets/trust-badge/s2016.png", alt: "MLH Official - Spring 2015", style: "width:100%"}
