%div{class: "welcome"}
  %div{class: "container"}
    %div{class: "content"}
      = image_tag('brickhack_logo_v2_filled.svg', :id=>"logo-large",:alt=>"BrickHack", :title=>"BrickHack")

      
      %h2 We're almost ready...
      %p We don't have registratons for Brickhack just yet!  Come back soon.
