<!DOCTYPE html>
<html>
  <head>
    <title>BrickHack V – Feb 16-17, 2019</title>
    <%= stylesheet_link_tag "live", media: "all" %>
  </head>
  <body>
    LIVE: todo...
    <%= javascript_include_tag "application" %>
  </body>
</html>
