%section.section.manage
  %h1.section-title= title "Listing Messages"

  %table.messages.datatable.row-border.stripe.hover.order-column{ "data-source" => datatable_manage_messages_path(format: :json) }
    %thead
      %tr
        %th
        %th ID
        %th Name
        %th Subject
        %th Status
    %tbody

  %br

  - unless current_user.admin_limited_access
    = btn_link_to 'New Message', new_manage_message_path
