.section
  .container
    %h2{class:'section-title'}Page Not Found
    .center
      %p It looks like you stumbled across a page that doesn't exist.
      %cite Error 404
      %p
        %a{href:'/', class:'button'}Home