.section
  .container
    %h2{class:'section-title'}Something Went Wrong
    .center
      %p There has been an issue with our servers. Please return to the home page and try again.
      %cite Error 500
      %p
        %a{href:'/', class:'button'}Home