%section.section
  .container
    - title "Edit Application"
    .form-container
      %h1.section-title Edit BrickHack Application

    = render 'form'

    - if @questionnaire.valid?
      %p{class:"cancel_btn_wrap"}= link_to 'Cancel', questionnaires_path
