.form-actions
  .center
    %p
      = btn_link_to "Sign In with My MLH &raquo;".html_safe, user_mlh_omniauth_authorize_path
    %p
      Need an account?
      %br
      = btn_link_to "Sign Up &raquo;".html_safe, new_user_registration_path
