%div{class:'form-container login'}
  .form-actions
    .center
      = btn_link_to "Sign In with My MLH &raquo;".html_safe, user_mlh_omniauth_authorize_path
      %br
      %br
      %p Need an account?
      = btn_link_to "Sign Up &raquo;".html_safe, new_user_registration_path
