</div>
<div id="social-media" class="inner" style="margin: auto;max-width: 80%;">
  <hr style="background: #cccccc;border: 1px solid #cccccc;color: #cccccc;">
  <p style="margin: 0 0 8px;">Join the conversation: <a href="https://www.facebook.com/brickhackrit" style="color: #F98728;">Facebook</a> <a href="https://twitter.com/brickhackrit" style="color: #F98728;">Twitter</a></p>
</div>
<div id="email-footer" style="background:#333333;color:#FCF7F2;padding:8px 0;margin-top:35px;">
  <div class="inner" style="margin: auto;max-width: 80%;padding-bottom: 0;padding-top: 0;">
  <table border="0" style="border: 0;padding: 0;width: 100%;">
    <tr>
      <td style="color:#FCF7F2;">BrickHack | <a href="https://brickhack.io" target="_blank" style="color: #F98728;">https://brickhack.io</a></td>
      <td style="text-align:right;color:#FCF7F2;">Student run by <a href="http://coderit.org" target="_blank" style="color: #F98728;"><img class="coderit-logo" src="https://brickhack.io/assets/coderit_logo.png" style="display: inline-block;width: 76px;vertical-align: bottom;"></a></td>
    </tr>
  </table>
  </div>
</div>