<h3>Questions?</h3>
<p>If you have any questions, please check out our <a href="https://brickhack.io/#faq" target="_blank">FAQ</a>. You can also email <a href="mailto:travel@codeRIT.org">travel@codeRIT.org</a> with travel-related questions, or <a href="mailto:hello@codeRIT.org">hello@codeRIT.org</a> with general questions.</p>
