<h2>Congratulations <%= @questionnaire.first_name %>, you're in!</h2>
<p>You have been accepted to attend BrickHack! Please RSVP:</p>
<p>
  <a href="https://brickhack.io/rsvp/accept" class="button" target="_blank">Yes, I will Attend</a>
  <a href="https://brickhack.io/rsvp/deny" class="button" target="_blank">No, I Can't Attend</a>
  <br>
  <small><i>Link not working? Go to <a href="https://brickhack.io/rsvp">brickhack.io/rsvp</a></i></small>
</p>
<p>Make sure to tell your family becuase they will be super proud of your accomplishment. It is time to get excited for a weekend long journey. Learn new things, meet new people from across North America, and create cool stuff. BrickHack will be taking place <strong>March 5th and 6th</strong> of this year at<br><br/><strong>Rochester Institute of Technology<br>Gordon Field House and Activities Center<br>1 Lomb Memorial Dr<br>Rochester, NY 14623</strong></p>
<h3>Getting There</h3>
<p>Unfortunately we are unable to provide travel reimbursements. Buses are being provided to Buffalo, Binghamton, Cornell, Maryland (College Park), and Temple University.. If you are eligible, you will be given an option to sign up on the <a href="https://brickhack.io/rsvp">RSVP form</a>.</p>
<p>If you live near one of these schools, but don't attend and would like to get on the bus, please email <a href="mailto:travel@coderit.org">travel@coderit.org</a>.</p>
<h3>Questions?</h3>
<p>If you have any questions, please check out our <a href="https://brickhack.io/#faq" target="_blank">FAQ</a>. You can also email <a href="mailto:travel@coderit.org">travel@coderit.org</a> with travel-related questions, or <a href="mailto:hello@coderit.org">hello@coderit.org</a> with general questions.</p>
