<h2>Congratulations <%= @questionnaire.first_name %>, you're in!</h2>
<p>You have been accepted to attend BrickHack! Please RSVP:</p>
<p>
  <a href="https://brickhack.io/rsvp/accept" class="button" target="_blank">Yes, I will Attend &raquo;</a>
  <a href="https://brickhack.io/rsvp/deny" class="button" target="_blank">No, I Can't Attend &raquo;</a>
  <br>
  <small><i>Link not working? Go to <a href="https://brickhack.io/rsvp">brickhack.io/rsvp</a></i></small>
</p>
<p>Make sure to tell your family because they will be super proud of your accomplishment. It is time to get excited for a weekend long journey. Learn new things, meet new people from across North America, and create cool stuff. BrickHack will be taking place <strong>February 11th and 12th</strong> of this year at<br><br/><strong>Rochester Institute of Technology<br>Clark Gym<br>1 Lomb Memorial Dr<br>Rochester, NY 14623</strong></p>
<%= render 'getting_there' %>
<h3>More info to come!</h3>
<p>We will be sending out more logistics information closer to BrickHack. Please RSVP to guarantee you get this information, and keep an eye out the week of February 6th!</p>
<%= render 'questions' %>
