<h2 class="center">
  Thanks for Applying!
</h2>

<p>
  Hey <%= @questionnaire.first_name %>, we've received your application to BrickHack 2016!  You'll be notified of your acceptance status around May.  In the meantime, you can review and edit your information by clicking the button below.
</p>

<%= link_to 'http://mlh.io', class: 'button' do %>
  My Profile
<% end %>