<h2 class="center">
  Thanks for Applying!
</h2>

<p>Hey <%= @questionnaire.first_name %>,</p>
<p>We've received your application to BrickHack 3! You'll be notified of your acceptance status in January.</p>
<p>If needed, you can edit your information by clicking the button below.</p>
<%= link_to questionnaires_url, class: 'button' do %>
  My Profile
<% end %>
<% count = @questionnaire.school.questionnaires.count %>
<p>In the meantime, <strong>invite your friends!</strong> Hacking is always fun as a team.</p>
<p>Only <%= count == 1 ? '1 person has' : "#{count} people have" %> applied from <%= @questionnaire.school.name %> - spread the word!</p>
