<h2>You're a bus captain!</h2>
<p>Hey <%= @user.first_name %>,</p>
<p>Thanks for volunteering to be a bus captain! We know most people just want to hop on &amp; off the bus, but coordinating busses isn't that easy. Thanks to you, this bus to BrickHack can be a success!</p>
<p>We've provided a portal to view all bus passengers for your bus, as well as provide important information about being a captain. <strong>Please take a look!</strong></p>
<p>
  <a href="https://brickhack.io/bus_list" class="button" target="_blank">Bus List &raquo;</a>
  <br>
  <small><i>Link not working? Go to <a href="https://brickhack.io/bus_list">brickhack.io/bus_list</a></i></small>
</p>
<p>This will be the central source of truth for passengers &amp; bus information, in addition to anything you hear from our travel director.</p>
<p>This also means your <strong>name, email, and phone number</strong> are visible to everyone riding the bus. This information is taken straight from your BrickHack application, so please make sure it is up to date! You can check this at <a href="https://brickhack.io/apply">https://brickhack.io/apply</a></p>
<p>Again, thank you so much for being a bus captain! If you have any questions at all, feel free to reach out to <a href="mailto:travel@codeRIT.org">travel@codeRIT.org</a>. We can't wait to see you at BrickHack!</p>
