<h3>Dear <%= @questionnaire.first_name %>,</h3>
<p>It is with our sincerest regret to inform you that our admissions committee has not chosen to accept your application to BrickHack 4 at this time. We were overjoyed with the number of applicants we received, but unfortunately we can not accept everyone due to capacity for only 500 students.</p>
<p>We invite you to apply again next year. There are plenty of other hackathons this season, and it may not be too late to apply for those. Check out <a href="https://mlh.io/seasons/na-2018/events" target="_blank">https://mlh.io/</a> for more 2018 spring hackathons.</p>
<p>Thank you for applying,<br><br>
 - The BrickHack Team</p>
