<h3>Dear <%= @questionnaire.first_name %>,</h3>
<p>It is with our sincerest regret to inform you that our admissions committee has chosen to not accept your application to BrickHack at this time. We were overjoyed with the number of applicants we received (over 1,200!), but unfortunately we can not accept everyone due to capacity for only 400.<p>
<p>We invite you to apply again next year. There are plenty of other hackathons this season, and it may not be too late to apply for those. Checkout <a href="https://mlh.io" target="_blank">https://mlh.io</a> to find out more information.</p>
<p>Thank you for applying,<br>
 - The BrickHack Team</p>
