<h2>Finish Your Application</h2>
<p>You're almost there! You completed the My MLH part of the application, but didn't finish the additional BrickHack-specific questions.</p>
<p><strong>Your application will not be considered until it is completed.</strong></p>
<p>Not to worry! Just head on back to the website, <a href="https://brickhack.io/apply">brickhack.io/apply</a>, sign in with your existing My MLH account (if necessary), and complete the application.</p>
<p><a href="https://brickhack.io/apply" class="button">Finish Application »</a></p>
<p>Happy hacking!<br> - The BrickHack Team</p>
