<h2>You are confirmed!</h2>
<p>This is your confirmation for BrickHack! Can't wait to see you there. In the meantime, follow us on <a href="https://www.facebook.com/brickhackrit">Facebook</a> and <a href="https://twitter.com/brickhackrit">Twitter</a> to get news and updates.</p>
<p><strong>If you can no longer attend, let us know! <a href="https://brickhack.io/rsvp/deny" target="_blank">I Can No Longer Attend &raquo;</a></strong></p>
<h3>Meet Other Hackers</h3>
<p>Join our <a href="https://www.facebook.com/groups/brickhack3attendees/" target="_blank">Facebook Group</a> to get in touch with other attendees. This will be the best way to find teammates if you don't have a team already!</p>
<%= render 'getting_there' %>
<%= render 'questions' %>
<p><strong>If you can no longer attend, let us know! <a href="https://brickhack.io/rsvp/deny" target="_blank">I Can No Longer Attend &raquo;</a></strong></p>
