<h2>You are confirmed!</h2>
<p>This is your confirmation for BrickHack! Can't wait to see you there. In the meantime, follow us on <a href="https://www.facebook.com/brickhackrit">Facebook</a> and <a href="https://twitter.com/brickhackrit">Twitter</a> to get news and updates.</p>
<p><strong>If you can no longer attend, let us know! <a href="https://brickhack.io/rsvp/deny" target="_blank">I Can No Longer Attend &raquo;</a></strong></p>
<h3>Meet Other Hackers</h3>
<p>Join our <a href="https://facebook.com/groups/brickhack2attendees" target="_blank">Facebook Group</a> to get in touch with other attendees. This will be the best way to find teammates if you don't have a team already!</p>
<h3>Getting There</h3>
<p>Unfortunately we are unable to provide travel reimbursements. Buses are being provided to Buffalo, Binghamton, Cornell, and Maryland (College Park). If you are eligible, you were given an option to sign up on the <a href="https://brickhack.io/rsvp">RSVP form</a>.</p>
<p>If you live near one of these schools, but don't attend, and would like to get on the bus, please email <a href="mailto:travel@coderit.org">travel@coderit.org</a>.</p>
<h3>Questions?</h3>
<p>If you have any questions, please check out our <a href="https://brickhack.io/#faq" target="_blank">FAQ</a>. You can also email <a href="mailto:travel@coderit.org">travel@coderit.org</a> with travel-related questions, or <a href="mailto:hello@coderit.org">hello@coderit.org</a> with general questions.</p>
<p><strong>If you can no longer attend, let us know! <a href="https://brickhack.io/rsvp/deny" target="_blank">I Can No Longer Attend &raquo;</a></strong></p>
