<h3>Hold tight, <%= @questionnaire.first_name %>.</h3>
<p>Unfortunately your application to BrickHack 4 has been waitlisted. But it's not over yet! We are still waiting for a final count and we will let you know if space opens up.</p>
<p>If you have any questions, feel free to email us at <a href="mailto:hello@brickhack.io">hello@brickhack.io</a>.</p>
<p>We invite you to apply again next year. There are plenty of other hackathons this season, and it may not be too late to apply for those. Check out <a href="https://mlh.io/seasons/na-2018/events" target="_blank">https://mlh.io/</a> for more 2018 spring hackathons.</p>
<p>Thank you for applying,<br><br>
 - The BrickHack Team</p>
