%section.section.manage
  %h1.section-title= title "Statistics & Info"

  - if flash[:notice]
    #disclaimer= flash[:notice]

  .container.container-full
    %h4.dashboard-container-title Dietary Restrictions & Special Needs
    %table.stats.datatable.row-border.stripe.hover.order-column{ "data-source" => dietary_special_needs_manage_stats_path(format: :json) }
      %thead
        %tr
          %th First name
          %th Last name
          %th Email
          %th Phone
          %th Checked In
          %th Dietary Restrictions
          %th Special Needs
      %tbody

  .container.container-full
    %h4.dashboard-container-title Attendees Not Traveling From Their School
    %table.stats.datatable.row-border.stripe.hover.order-column{ "data-source" => alt_travel_manage_stats_path(format: :json) }
      %thead
        %tr
          %th Link
          %th First name
          %th Last name
          %th Email
          %th Traveling From
          %th Acc Status
      %tbody

  .container.container-full
    %h4.dashboard-container-title Attendee Info for Sponsors
    %table.stats.datatable.row-border.stripe.hover.order-column{ "data-source" => sponsor_info_manage_stats_path(format: :json) }
      %thead
        %tr
          %th First name
          %th Last name
          %th Email
          %th Open Source Link
          %th Portfolio Link
      %tbody

  .container.container-full
    %h4.dashboard-container-title MLH Info
    %table.stats.datatable.row-border.stripe.hover.order-column{ "data-source" => mlh_info_manage_stats_path(format: :json) }
      %thead
        %tr
          %th First name
          %th Last name
          %th Email
          %th Phone Number
      %tbody
