#sponsors
  text-align: center

.sponsor
  text-indent: -9999px
  img
    max-width: 300px
    margin-bottom: 15px

.call-to-action
  bottom: 20px
  margin-top: 200px
  left: 0
  right: 0
  position: absolute