#sponsors
  text-align: center

.sponsor
  text-indent: -9999px
  img
    vertical-align: middle
    max-width: 300px
    margin-bottom: 30px
    margin-right: 20px

img#firefox
  margin: 0
  width: 175px

img#google
  margin-bottom: 0
  margin-top: 10px  

//.call-to-action