.header
  $color-stop-1: #0f3f5d
  $color-stop-2: #26325f
  $color-stop-3: mix(#2A245F, $color-stop-2, 40%)
  background-color: #402761
  background: linear-gradient($color-stop-1, mix($color-stop-1, $color-stop-2), $color-stop-3) !important
  height: auto !important
  flex-flow: column nowrap !important
  align-items: center
  position: relative
  overflow: hidden

.header-logo
  display: flex
  align-items: center

  @media (max-width: 400px)
    margin-left: -10px

.header-logo__image
  height: 60px !important
  margin: 7px 0 0 !important

.header__wrapper
  position: relative
  z-index: 1
