@import variables
@import home/schedule

#home
  background-image: url("home_asset_1.png"), url("home_asset_2.png")
  background-repeat: no-repeat, no-repeat

  background-position: left top, right bottom
  margin-top: 35px
  margin-left: 0
  padding-top: 100px
  margin-right: 0
  display: block
  height: 650px

#home h1
  padding-top: 0

.btn_border
  background: #ffffff
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff)
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff)
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff)
  background-image: -o-linear-gradient(top, #ffffff, #ffffff)
  background-image: linear-gradient(to bottom, #ffffff, #ffffff)
  -webkit-border-radius: 0
  -moz-border-radius: 0
  border-radius: 0px
  font-family: Arial
  color: #000000
  font-size: 16px
  padding: 10px 20px 10px 20px
  border: solid #050505 1px
  text-decoration: none
  width: 175px

.btn_border:hover
  text-decoration: none
  border-color: $orange

#about
  height: 600px
  background-image: url("home_asset_3.png")
  background-repeat: no-repeat
  background-position: right 100px bottom -80px
#faq
  background-image: url("home_asset_3.png")
  background-repeat: no-repeat
  background-position: right 100px top -200px

#logo-footer
  background-image: url("home_asset_6.png"), url("brickhack4_logo.png")
  background-repeat: no-repeat, no-repeat
  background-size: auto, 200px 200px
  background-position: center, center
  height: 300px

.button_outline
  background-color: inherit
  color: $black
  border: 3px solid $black
body
  background: $white
  color: $white

p a
  color: $grey
  text-decoration: none
  border-bottom: 2px $red solid
  &:hover
    color: $red

.page
  width: 100%
  padding: 0 0 0 110px


nav
  background: $white
  width: 100%
  top: 0


  &.desktop
    padding: 20px 135px
    display: flex
    align-items: center

  i:before
    color: $white
    font-size: 36px
    cursor: pointer
    display: inline-block

  i
    margin: 10px 10px
    display: inline-block

  .logo img
    height: 100px
    width: auto

.nav-links
  .desktop &
    display: flex
    flex-direction: row
    align-items: baseline
  .mobile &
    text-align: center
    a
      display: block
      width: 100%

  a
    color: $grey
    font-size: 16px
    font-weight: bold
    text-transform: uppercase
    font-weight: 300
    padding: 10px 20px
    margin: 0 15px

    -webkit-transition: background-color 200ms ease
    -moz-transition: background-color 200ms ease
    -o-transition: background-color 200ms ease
    transition: background-color 200ms ease


  a:hover:not(.button)
    box-sizing: border-box
    border: 1px solid $black
    color: $orange

#logo
  max-width: 350px
  margin: 0 auto
  width: 90%
  display: block

h1
  color: $black
  font-size: 36px
  font-weight: 300
  margin-bottom: 1em

h2
  color: $red
  font-size: 24px
  font-weight: 600
  text-transform: uppercase

h3
  font-size: 18px
  line-height: 1.7
  color: $orange
  margin-bottom: 0.3em
  font-weight: 400

h4
  font-size: 14px
  text-transform: uppercase
  font-weight: 600

p
  font-size: 18px
  line-height: 1.6
  color: $black

.orange
  color: $orange

.white
  color: $white

.title
  color: $black
  font-size: 58px
  margin-bottom: 0.3em

.subtitle
  color: $grey
  font-size: 26px
  text-transform: none
  font-weight: 300
  margin-bottom: 0
  margin-top: 10px

.white-section
  background: $white
  color: $grey

.grey-section
  background: $white-grey
  color: $grey

.black-section
  background: $black

  a
    color: $white

.home-content
  max-width: 1300px
  margin: 0 auto
  padding: 40px 30px 90px

.mobile, i
  display: none

.split-home
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap

  // TODO: standardize the below amongst split-home and content
  margin: 0 auto

  @media (max-width: $breakpoint-tablet)
    .split-left
      margin: 30px auto 0
      width: 100%
      max-width: 500px
    .split-right
      width: 100%
      text-align: center
      margin-bottom: 30px

  @media (min-width: $breakpoint-tablet)
    .split-left
      flex: 0 0 500px
      padding-right: 10%
    .split-right
      flex: 1 1 500px

.split-three
  display: flex
  flex-wrap: wrap

.split-four
  display: flex
  flex-wrap: wrap
  margin-left: -20px
  margin-right: -20px

.column
  flex: 1 0 280px
  text-align: center
  padding: 20px
  color: grey

  // TODO: better selector
  img
    width: 110px
    margin-bottom: 10px

  .img-spaced
    margin-bottom: 40px

  p
    text-align: left

.column--two
  flex: 1 1 280px * 2

.about-gallery
  display: flex
  flex-wrap: wrap
  justify-content: space-between

  .button-wrapper
    position: absolute
    top: 215px
    width: 100%

.about
  flex: 1 1 300px
  max-width: 1000px

.gallery
  flex: 0 1 400px
  display: block
  position: relative
  width: 400px
  text-align: center
  margin: 0 auto

.sponsors
  display: flex
  flex-direction: row
  flex-wrap: wrap

.sponsor
  flex: 1 0 300px
  display: flex
  justify-content: center
  align-items: center

  img
    width: 100%
    max-width: 250px

  &.sponsor-small img
    max-width: 140px
    margin-bottom: 10px

  &.sponsor-large
    flex: 1 1 600px
    min-width: 300px // same size as regular sponsor flex-basis
    img
      max-width: 350px

.diagonal
  z-index: 1
  position: relative

.diagonal:before
  position: absolute
  content: ''

.diagonal:before
  -webkit-transform: rotate(-2deg)
  transform: rotate(-2deg)
  -webkit-transform-origin: 2% 0
  transform-origin: 2% 0
  top: 0
  left: -25%
  z-index: -1
  width: 150%
  height: 75%
  background: inherit

#footer
  &, p
    font-size: 14px

  .home-content
    padding-top: 20px
    padding-bottom: 20px

  h4
    margin-top: 0

  .column
    text-align: left
    flex: 1 1 auto
    &:first-child
      flex: 4 1 auto

.api-section-top-margin
  margin-top: 12%

@media (max-width: $breakpoint-tablet)
  #hamburger-menu
    display: inline-block
  .home-content
    padding-left: 10px
    padding-right: 10px

  nav.desktop
    display: none

  nav
    text-align: left

  .mobile
    display: inherit

  #mobile-nav
    display: none
    margin-bottom: 10px

  #mobile-nav a
    margin: 0 10px
    height: 34px

  .mob-nav-header
    display: inline-block

@media (max-height: 700px)
  #logo
    max-width: 200px

  #bus_lists_section
    padding-left: 20px
    padding-right: 20px
