@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900;1000&display=swap');

:root{
  --blue: #465491;
  --white: #FFFFFF;
}

body{
  display: flex;
  flex-direction: column;

  height: 100%;
  margin: 0;

  font-family: Poppins;
}

.desktop-banner{
  width: 100%;

  padding: 12px 0px;
  
  font-size: 14px;
  font-weight: 300;
  text-align: center;

  background-color: var(--blue);
  color: var(--white);
}
.desktop-banner span{
  font-weight: 400;
}

#mlh-badge{
  position: fixed;
  width: 100px;
  margin-left: 50px;
}

.nav{
  display: inline-block;

  width: 100%;

  font-size: 15px;
  font-weight: 500;
  
  color: var(--blue);
  background-color: var(--white);
}
.nav ul {
  list-style-type: none;
  float: right;

  margin: 0;
  padding: 0;
}
.nav ul li {
  padding: 25px 25px;
  text-align: center;
}

.section{
  width: 100%;
  max-width: 1100px;
  text-align: center;
  margin: auto;
}
.flex-container{
  display: flex;
  align-items: center;
}
.left-half, .right-half{
  flex: 50%;
}

.preregister-img{
  width: 100%;
}

#hackathon-name{
  height: 70px;
  font-size: 60px;
  font-weight: 700;
  color: var(--blue);
}
#hackathon-description{
  height: 30px;
  font-size: 20px;
  font-weight: 700;
  color: var(--blue);
}
#hackathon-info{
  height: 20px;
  font-size: 14px;
  color: var(--blue);
}

.input-container{
  height: 40px;
  width: 375px;
  margin: auto;

  margin-top: 10px;

  border-style: solid;
  border-width: 1px;
  border-color: var(--blue);
  border-radius: 20px;
}
.mailchimp-input{
  flex: 50%;
  height: 30px;
  margin: 10px;

  text-align: center;
  border-style: none;
}
.mailchimp-button{
  height: 30px;
  width: 30px;

  border: none;
  border-radius: 15px;

  margin-right: 5px;

  background-color: var(--white);
  background-image: url(./input-arrow.svg);
}

.mobile-banner{
  position: relative;
  border-bottom-style: solid;

  font-size: 14px;
  font-weight: 500;
  color: var(--blue);
}

@media (min-width: 1100px){
  .desktop-hide{
    display: none;
  }
}

@media (max-width: 1100px){
  .mobile-hide{
    display: none;
  }
  
  #mlh-badge{
    width: 80px;
    margin-left: 40px;
  }

  .nav{
    font-size: 12px;
    font-weight: 400;

    color: var(--white);
    background-color: var(--blue);

    margin-bottom: 30px;
  }
  .nav ul{
    float: right;
  }
  .nav ul li{
    width: 75px;
    padding: 25px 15px;
  }
 
  .section{
    flex-direction: column;
  }
  .right-half{
    width: 100%;
  }
}

@media (max-width: 720px){
  #mlh-badge{
    width: 60px;
    margin-left: 15px;
  }
  #hackathon-name{
    height: 16.5vw;
    font-size: 14vw;
  }
  #hackathon-description{
    height: 6.5vw;
    font-size: 4.5vw;
  }
  #hackathon-info{
    height: 4vw;
    font-size: 3.3vw; 
  }

  .input-container{
    width: 90vw;
    margin: auto;
  }
  .hackathon-input{
    height: 8vw;
    font-size: 3.5vw;
  }
  .mobile-banner{
    font-size: 3.5vw;
  }
}