@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900;1000&display=swap');

$dark-blue: #1B315E;
$blue: #2A3E7F;
$light-blue: #455296;
$red: #F1646B;
$orange: #F9A36A;
$pink: #F9C3BC;
$beige: #F4ECE0;

$assets: './bh7-assets/';

$desktop-width: 1200px;
$mobile-width: 750px;
$mobile-ratio: 75vh; // width must be >= 1.33 * height (surface duo and vertical ipad are exactly 1.33x)  

@mixin desktop {
	@media(min-width: #{$desktop-width}) { @content; }
}
@mixin mobile {
	@media(max-width: #{$desktop-width}) { 
		@media(max-width: #{$mobile-ratio}) {
			@content;
		}
	}
}

.desktop-hide {
	@include desktop {
		display: none;
	}
}
.mobile-hide {
	@include mobile {
		display: none;
	}
}
.flex-container {
	display: flex;
	align-items: center;
	flex-shrink: 0;
}

a:hover {
	text-decoration: none;
}

html, body, #root, #app {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;

	font-family: Poppins, sans-serif;
	font-size: 2vw;
	color: white;
}


nav {
	position: fixed;
	z-index: 1;

	width: 100vw;
	height: 5vw;

	background-color: transparentize(white, 0.95);
	
	#logo {
		content:url('./bh7-assets/logo.svg');
		height: 100%;
		margin: 0vw 2vw;
	}

	ul {
		display: flex;
		align-items: center;

		list-style-type: none;

		height: 100%;
		padding-inline-start: 0;

		a {
			display: flex;
			align-items: center;

			height: 100%;
			margin: 0vw 2vw;

			font-size: 1.25vw;
			font-weight: 400;
			
			color: white;

			transition: font-weight 0.1s, color 0.2s;
			
			&:hover {
				font-weight: 600;
				color: $orange;
			}
		}	
	}

	#mlh-badge {
		position: absolute;
		height: 13.5vw;
		right: 2vw;
	}

	@include mobile {
		background-color: transparentize(white, 0.85);
		height: 20vw;
		
		#mlh-badge {
			top: 0;
			height: 28vw;
			left: 5vw;
		}
	}
}

section {
	position: relative;
	display: block;

	min-height: 55vw; // min. ratio of ~1.66 slightly less than 16:9 (1.77) to account for browser window, etc.
	max-height: 75vw; // max. ratio of ~1.33 to handle horizontal tablet sizing (ipad)

	height: 100vh;
	width: 100%; // cut off background image

	background-color: $dark-blue;

	@include mobile {
		max-height: 100vh;
	}
}

#hero {
	background-color: $light-blue;
	
	background-image: url($assets+'shelf.svg'), url($assets+'desk.svg');
	background-repeat: no-repeat, no-repeat;
	background-size: 100vw, 85vw;
	background-position: 0 130%, 162% 75%;

	@include mobile {
		background-size: 100vw, 120vw;
		background-position: 0 100%, -6vw 100%;
	}

	#wire {
		position: absolute;

		left: 60.7vw;

		width: 1.5vw;
		height: calc(100% - 91vw);

		background-color: $dark-blue;
	}

	#hero-content {
		position: absolute;
		display: inline-block;
		
		margin-left: 7.5vw;
		margin-top: 16vw;

		text-align: center;

		#hackathon-name {
			height: 4.8vw;
			font-size: 4.5vw;
			font-weight: 700;
			color: white;
		
			@include mobile {
				height: 14.1vw;
				font-size: 13vw;
			}
		}
		#hackathon-description {
			height: 2.8vw;
			font-size: 2.15vw;
			font-weight: 700;
			color: white;
		
			@include mobile {
				height: 8.2vw;
				font-size: 6.3vw;
			}
		}
		#hackathon-info {
			height: 1.1vw;
			font-size: 1.06vw;
			font-weight: 500;
			color: white;
		
			@include mobile {
				height: 5vw;
				font-size: 3.2vw;
			}
		}
		.mailchimp-container {
			height: 3vw;
			width: 29vw;
 			margin: 1vw auto;
			border-radius: 1.5vw;
			background-color: white;

			.mailchimp-input {
				flex: 0%;
				height: 2.5vw;
				margin-left: 1vw;
			
				text-align: center;
				border-style: none;
			
				outline: none;
				font-family: inherit;
				font-size: 1.1vw;
				font-weight: 500;
			
				&::placeholder { /* this refers to the input placeholder text (enter your email...)*/
					color: $blue;
					transition: color 0.4s;
				}
				&:focus::placeholder {
					color: transparent;
				}
			}
			.mailchimp-button {
				height: 2vw;
				width: 2vw;
			
				margin-right: 0.5vw;
			
				border-style: solid;
				border-width: 0.075vw;
				border-color: $blue;
				border-radius: 1.25vw;
			
				background-color: white;
				background-image: url(./bh7-assets/input-arrow.svg);
				background-repeat: no-repeat;
				background-position: 0.25vw;
				background-size: 1.25vw;
			
				outline: none;
				transition: 0.1s;
			
				@include desktop {
					&:hover {
						background-position: 0.35vw;
					}
				}
			}

			@include mobile {
				width: 80vw;
		
				height: 12vw;
				border-radius: 6vw;

				.mailchimp-input {
					height: 7vw;
					font-size: 3.25vw;
				}
				.mailchimp-button {
					height: 9vw;
					width: 9vw;
					border-radius: 4.5vw;
					margin-right: 1.5vw;
					background-position: 1.5vw;
					background-size: 5vw;
				}
			}
		}

		@include mobile {
			margin-top: 30vw;
		}
	}
}

#about {
	.wire{
		position: absolute;
		width:100%;
		height:.5vw;
		top: 4vw;
		background: $pink;
		z-index: 2;
		@include mobile{
			height: .9vw;
			top: 7.1vw;
		}
	}

	#clip_two{
		position: absolute;
		left: 42vw;
		top: 3.5vw;
	}
	#clip_three{
		position: absolute;
		left: 59.7vw;
		top: 3.5vw;
	}
	#clip_four{
		position: absolute;
		left: 77.4vw;
		top: 3.5vw;
	}
	#clip_five{
		position: absolute;
		left: 95.1vw;
		top: 3.5vw;
	}
	#clip_six{
		position: absolute;
		left: 6vw;
		top: 3.5vw;
	}
	#clip_seven{
		position: absolute;
		background: $red;
		width:.7vw;
		height:2vw;
		left: 23.7vw;
		top:3.9vw;
	}
	#clip_eight{
		position: absolute;
		background: $red;
		width:.7vw;
		height:2vw;
		left:41.4vw;
		top:3.9vw
	}
	#clip_nine{
		position: absolute;
		background: $red;
		width:.7vw;
		height:2vw;
		left:59.1vw;
		top:3.9vw
	}
	#clip_ten{
		position: absolute;
		background: $red;
		width:.7vw;
		height:2vw;
		left:76.8vw;
		top:3.9vw
	}
	#clip_eleven{
		position: absolute;
		background: $red;
		width:.7vw;
		height:2vw;
		left:94.5vw;
		top:3.9vw
	}
	#clip_twelve{
		position: absolute;
		background: $red;
		width:.7vw;
		height:2vw;
		left:5.4vw;
		top:3.9vw
	}
	.slides {
		position: relative;
		z-index: 2;
		.slick-slide {
			height: 15vw;
			width: 15vw;
			background: rgba(255, 255, 255, 0.75);
			margin: 5.4vw 1.4vw 0 1.4vw;
			@include mobile{
				height: 34.1vw;
				width: 34.1vw;
				background: rgba(255, 255, 255, 0.75);
				margin: 9.2vw 1.8vw 0 1.8vw;
			}
		}
		.slick-arrow{
			position: absolute;
			width: 3.9vw;
			height: 3.9vw;
			top: 12.8vw;
			background-color: $blue;
			border: 1px solid #A3A9CA;
			box-sizing: border-box;
			border-radius: .7vw;	
			@include mobile{
				display: none !important;
			}

	
		}
		.slick-prev {
			z-index:1;
			left: 3vw;
		}
		.slick-next {
			z-index: 1;
			left: 92vw;
		}
		.slick-prev::before{
			position: absolute;
			font-size:2vw;
			top: 1.1vw;
			left: .9vw;
		}
		.slick-next::before{
			position: absolute;
			font-size: 2vw;
			top: 1.1vw;
			left: .9vw;
		}
	  }
	  .content{
		width: 50%;
		margin: 25vw 49vw 6.4vw 7.4vw

	}
	.buttons{
		width: 50%;
		margin: 31.4vw 9.5vw 5.4vw 58.5vw;
	}
	  #header{
		  position: absolute;
		  width: 79vw;
		  height: 3.9vw;
		  left: 5vw;
		  top: 25vw;
		  @include mobile{
			  width: 87.4vw;
			  height: 4.4vw;
			  left: -6vw;
			  top: 49.5vw
		  }
	  }
	  #title {
		font-style: normal;
		font-weight: bold;
		font-size: 2.7vw;
		@include mobile{
			font-size: 5vw;
			line-height: 5.3vw;
			text-align: center;
		}
	  }
	  
	  #para{
		  position: absolute;
		  width:40vw;
		  height: 12.3vw;
		  left:5.1vw;
		  top: 30vw;
		  font-style: normal;
		  font-weight: 200;
		  font-size: 1.4vw;
		  line-height: 1.9vw;
		  @include mobile{
			width:60.9vw;
			height: 35.3vw;
			left: 10vw;
			top: 64.3vw;
			font-size: 2.4vw;
			line-height: 2.1vw;
			text-align: center;
		  }
	  }
	  .blue_box{
		  position: absolute;
		  width: 25.7vw;
		  height: 5.4vw;
		  left:58.5vw;
		  top:31.4vw;
		  background:$light-blue;
		  border: .07vw solid rgba(255, 255, 255, 0.75);
		  box-sizing: border-box;
		  box-shadow: 0px 4px 8px rgba(70, 83, 149, 0.25);
		  border-radius: .7vw;
		  @include mobile{
			  display: none !important;
		  }
	  }
	  #MLH_box{
		  top: 38.3vw;

	  }
	  .arrow_orange{
		  position: absolute;
		  top:1.1vw;
		  left: 1.8vw;
		  border: solid $orange;
		  border-width: 0 .2vw .2vw 0;
		  display: inline-block;
		  padding: .4vw;
		  transform: rotate(-45deg);
		 -webkit-transform: rotate(-45deg);
	  }
	  .arrow_red{
		position: absolute;
		top:1.1vw;
		left: 1.8vw;
		border: solid $red;
		border-width: 0 .2vw .2vw 0;
		display: inline-block;
		padding: .4vw;
		transform: rotate(-45deg);
	   -webkit-transform: rotate(-45deg);
	}
	  .line{
		  position: absolute;
		  width: 1.3vw;
		  height: .2vw;
		  left:1.5vw;
		  top: 1.5vw; 
	  }

	  .orange_line{
		  background: $orange;
	  }
	  .red_line{
		  background: $red;
	  }
	  .text_box{
		  width: 19.4vw;
		  height: 4.6vw;
	  }
	  #comm_text{
		position: absolute;
		font-style: normal;
		font-weight: 500;
		font-size: 1.6vw;
		line-height: 2.3vw;
		color:$beige;
		left: 6vw;
		top: .2vw;
		padding: 0.5vw 0;
	  }
	  #MLH_text{
		position: absolute;
		font-style: normal;
		font-weight: 500;
		font-size: 1.6vw;
		line-height: 2.3vw;
		color:$beige;
		left: 6vw;
		top: .2vw;
	  }

	
}
