@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900;1000&display=swap');

:root{
  --dullblue: #465491;
}
html, body, #root, #app, .full-height{
  height: 100%;
}
.full-height{
  height: calc(100% - 445px); /* minus height of content, this is probably a bad way to do it*/
  display: flex;
  flex-direction: column;
}
body{
  margin: 0;
  font-family: Poppins;
}

.desktop-banner{
  width: 100%;

  padding: 12px 0px;
  
  font-size: 14px;
  font-weight: 300;
  text-align: center;

  background-color: var(--dullblue);
  color: var(--white);
}
.desktop-banner span{
  font-weight: 400;
}

#mlh-badge{
  position: fixed;
  width: 100px;
  margin-left: 50px;
}

.navigation{
  display: inline-block;

  width: 100%;

  font-size: 15px;
  font-weight: 500;
  
  color: var(--dullblue);
  background-color: var(--white);
}
.navigation ul {
  list-style-type: none;
  float: right;

  margin: 0;
  padding: 0;
}
.navigation ul li {
  padding: 25px 25px;
  text-align: center;
  text-decoration: none;
  color: var(--dullblue)
}

.section{
  width: 100%;
  max-width: 1100px;
  text-align: center;
  margin: auto;
}
.flex-container{
  display: flex;
  align-items: center;
}
.left-half, .right-half{
  flex: 50%;
}

.hero-img{
  width: 100%;
}

#hackathon-name{
  height: 65px;
  font-size: 60px;
  font-weight: 700;
  color: var(--dullblue);
}
#hackathon-description{
  height: 40px;
  font-size: 29.5px;
  font-weight: 700;
  color: var(--dullblue);
}
#hackathon-info{
  height: 20px;
  font-size: 14px;
  font-weight: 500;
  color: var(--dullblue);
}

.input-container{
  height: 40px;
  width: 375px;
  margin: auto;

  margin-top: 10px;

  border-style: solid;
  border-width: 1px;
  border-color: var(--dullblue);
  border-radius: 20px;
}
.mailchimp-input{
  flex: 50%;
  height: 30px;
  margin: 10px;

  text-align: center;
  border-style: none;
}
.mailchimp-button{
  height: 30px;
  width: 30px;

  margin-right: 5px;

  border-style: solid;
  border-width: 1px;
  border-color: var(--dullblue);
  border-radius: 15px;

  background-color: var(--white);
  background-image: url(./input-arrow.svg);
  background-repeat: no-repeat;
  background-position: 3.5px;
  background-size: 18px;
}

@media (min-width: 1100px){
  .desktop-hide{
    display: none;
  }
}

@media (max-width: 1100px){
  .mobile-hide{
    display: none;
  }
  
  #mlh-badge{
    width: 80px;
    margin-left: 40px;
  }

  .navigation{
    font-size: 12px;
    font-weight: 400;

    color: var(--white);
    background-color: var(--dullblue);

    margin-bottom: 12.5vh;
  }
  .navigation ul{
    float: right;
  }
  .navigation ul li{
    width: 100%;
    padding: 25px 15px;
    text-decoration: none;
    color: var(--white)
  }
 
  .section{
    flex-direction: column;
  }
  .right-half{
    width: 100%;
  }
  .hero-img{
    margin-bottom: 2.5vh;
  }

  .input-container{
    margin-bottom: 2.5vh;
  }
  .mobile-banner{
    display: inline-block;

    border-bottom-style: solid;

    font-size: 14px;
    font-weight: 500;
    color: var(--dullblue);

    font-size: 15px;
  }
}

@media (max-width: 720px){
  #mlh-badge{
    width: 60px;
    margin-left: 15px;
  }
  #hackathon-name{
    height: 14.0vw;
    font-size: 13vw;
  }
  #hackathon-description{
    height: 8.0vw;
    font-size: 6.4vw;
  }
  #hackathon-info{
    height: 4vw;
    font-size: 3vw; 
  }

  .input-container{
    width: 70vw;

    height: 10vw;
    border-radius: 5vw;
  }
  .mailchimp-input{
    height: 7vw;
    font-size: 3.5vw;
  }
  .mailchimp-button{
    height: 8vw;
    width: 8vw;

    border-radius: 4vw;

    margin-right: 1vw;

    background-position: 1vw;
    background-size: 4.5vw;
  }
  .mobile-banner{
    font-size: 3.5vw;
  }
}