@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900;1000&display=swap');

$desktop-width: 1100px;
$tablet-width: 720px;
$blue: #465491;
$white: #FFFFFF;

/* 
tablet & mobile have the column layout
tablet has fixed widths and font sizes
mobile has scaling widths and font sizes
*/

@mixin tablet {
  @media(min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1}) { @content; }
}

@mixin desktop {
  @media(min-width: #{$desktop-width}) { @content }
}

.mobile-hide {
  display: none;
  @include desktop{
    display: flex;
  }
}

.desktop-hide {
  display: flex;
  
  @include desktop{
    display: none;
  }
}

.navigation {
  display: inline-block;
  width: 100%;
  /*
    no scaling for very short devices,
    scaling matching the mlh badge scaling for avg devices,
    high scaling for very tall devices
  */
  margin-bottom: unquote("max(0px, 10vh - 40px, 0px, 30vh - 190px)");
  font-size: 12px;
  font-weight: 400;
  color: $white;
  background-color: $blue;
  
  @include desktop {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    color: $blue;
    background-color: $white;
  }

  ul {
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0;
  }
    
    li {
      padding: 25px 15px;
      text-align: center;
      text-decoration: none;
      @include desktop {
        padding: 25px 25px;
      }
    }
      
      a {
        color: $white;
        border-bottom-style: solid;
        border-color: transparentize($white, 1);
        @include desktop {
          color: $blue;
        }
      }
      
      a:hover {
        border-color: transparentize($white, 1);
        transition: border-color 0.2s;
      }
      
      a:active {
        border-color: transparentize($white, 0);
        transition: border-color 0.2s;
      }
}

a:hover{
  text-decoration: none;
}

body{
  margin: 0;
  font-family: Poppins;
}

html, body, #root, #app, .full-height{
  height: 100%;
}

.flex-container{
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.full-height{ /* not really a good way to do it, will probably change to flex column layout */
  height: calc(100% - 445px);
  display: flex;
  flex-direction: column;
}

.desktop-banner{
  width: 100%;

  padding: 12px 0px;
  
  font-size: 14px;
  font-weight: 300;
  text-align: center;

  background-color: $blue;
  color: white;
  
  span{
    text-align: center;
    font-weight: 400;
  }
}

.mobile-banner{
  display: inline-block;

  margin-top: 1vh;
  margin-bottom: 2.5vh;

  border-bottom-style: solid;

  font-size: 3.5vw;
  font-weight: 500;
  color: $blue;
  
  @include tablet{
    font-size: 1rem;
    font-weight: 400;
  }

  @include desktop {
    display: none;
  }
}

#mlh-badge{
  position: absolute;
  width: default;
  height: unquote("max(68px, 35px + 10vh)");
  margin-left: 15px;
  
  @include tablet {
    height: 150px;
    margin-left: 40px;
  }

  @include desktop {
    height: 175px;
    margin-left: 50px;
  }
}

.section{
  flex-direction: column;
  text-align: center;
  
  @include desktop {
    flex-direction: row;
    max-width: 1100px;
    width: 100%;
    margin: auto;
  }
}
.right-half{
  flex: 50%;
}
.left-half{
  @extend .right-half;
  margin-bottom: 2.5vh;
}

.hero-img{
  /* slightly smaller hero img for shorter screens */
  min-width: 80%;
  
  @include tablet {width: unquote("min(50vh, 90%)");}
  
  @include desktop {width: 100%;}
}

/*
  note: development on a mac may not have all font-weights, 
  lines of text may be wider than they appear
*/
#hackathon-name{
  height: 14.1vw;
  font-size: 13vw;
  font-weight: 700;
  color: $blue;
  
  @include tablet {
    height: 65px;
    font-size: 60px;
  }

  @include desktop {
    height: 65px;
    font-size: 60px;
  }
}

#hackathon-description{
  height: 8.2vw;
  font-size: 6.3vw;
  font-weight: 700;
  color: $blue;
  
  @include tablet {
    height: 37px;
    font-size: 28.0px;
  }
  @include desktop {
    height: 37px;
    font-size: 28.0px;
    
  }
}

#hackathon-info{
  height: 4vw;
  font-size: 3.2vw; 
  font-weight: 500;
  color: $blue;
  
  @include tablet {
    height: 20px;
    font-size: 14px;
  }
  @include desktop {
    height: 20px;
    font-size: 14px;
  }
}

.mailchimp-container{
  width: 80vw;
  margin: 1vh auto auto;
  height: 12vw;

  border-radius: 6vw;
  border-style: solid;
  border-width: 1px;
  border-color: $blue;

  @include tablet {
    height: 40px;
    width: 375px;
    margin-top: 10px;
    border-radius: 20px;
  }
  
  @include desktop {
    height: 40px;
    width: 375px;
    margin-top: 10px;
    border-radius: 20px;
  }
}

.mailchimp-input{
  flex: 50%;
  margin-left: 10px;

  text-align: center;
  border-style: none;

  outline: none;
  font-family: inherit;
  
  height: 7vw;
  font-size: 3.25vw;
  font-weight: 500;

  @include tablet {
    height: 30px;
    font-size: 14px;
  }

  @include desktop {
    height: 30px;
    font-size: 14px;
  }
}

.mailchimp-button{
  border-style: solid;
  border-width: 1px;
  border-color: $blue;

  background-color: $white;
  background-image: url(./input-arrow.svg);
  background-repeat: no-repeat;

  outline: none;
  transition: 0.1s; /* see: min-width: media query */
  
  height: 9vw;
  width: 9vw;
  border-radius: 4.5vw;
  margin-right: 1.5vw;
  background-position: 1.5vw;
  background-size: 5vw;

  @include tablet {
    height: 30px;
    width: 30px;
    margin-right: 5px;
    border-radius: 15px;
    background-position: 3.75px;
    background-size: 18px;
  }

  @include desktop {
    height: 30px;
    width: 30px;
    margin-right: 5px;
    border-radius: 15px;
    background-position: 3.75px;
    background-size: 18px;
    
    /* arrow moves slightly to the right on hover */
    :hover{
      background-position: 5.25px;
      transition: 0.1s;
    }
  }
} 

::placeholder{ /* this refers to the input placeholder text (enter your email...)*/
  color: $blue;
}