@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900;1000&display=swap');

$dark-blue: #1B315E;
$blue: #2A3E7F;
$light-blue: #455296;
$red: #F1646B;
$orange: #F9A36A;
$pink: #F9C3BC;
$beige: #F4ECE0;

$tape: transparentize(#F2C7C1, 0.5);
$schedule-event-primary: #5E5E5E;
$schedule-event-secondary: transparentize(#5E5E5E, 0.25);

$assets: './bh7-assets/';

$desktop-width: 1200px;
$mobile-ratio: 75vh; // width must be >= 1.33 * height (surface duo and vertical ipad are exactly 1.33x)  

@mixin desktop {
	@media(min-width: #{$desktop-width}) { @content; }
}
@mixin mobile {
	@media(max-width: #{$desktop-width}) { 
		@media(max-width: #{$mobile-ratio}) {
			@content;
		}
	}
}

.desktop-hide {
	@include desktop {
		display: none;
	}
}
.mobile-hide {
	@include mobile {
		display: none;
	}
}
.flex-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}

a:hover {
	text-decoration: none;
}

html, body, #root, #app {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;

	font-family: Poppins, sans-serif;
	font-size: 2vw;
	color: white;
}

button {
	color: inherit;
	background-color: inherit;
	border: none;

	&:focus {
		outline: none;
	}
}

.title {
	font-weight: 600;

	@include mobile {
		font-size: 6vw;
	}
}

nav {
	position: fixed;
	z-index: 1;

	width: 100vw;
	height: 5vw;

	background-color: transparentize(white, 0.95);
	
	#logo {
		content:url('./bh7-assets/logo.svg');
		height: 100%;
		margin: 0vw 2vw;
	}

	ul {
		display: flex;
		align-items: center;

		list-style-type: none;

		height: 100%;
		padding-inline-start: 0;

		a {
			display: flex;
			align-items: center;

			height: 100%;
			margin: 0vw 2vw;

			font-size: 1.25vw;
			font-weight: 400;
			
			color: white;

			transition: font-weight 0.1s, color 0.2s;
			
			&:hover {
				font-weight: 600;
				color: $orange;
			}
		}	
	}

	#mlh-badge {
		position: absolute;
		height: 13.5vw;
		right: 2vw;
	}

	@include mobile {
		background-color: transparentize(white, 0.85);
		height: 20vw;
		
		#mlh-badge {
			top: 0;
			height: 28vw;
			left: 5vw;
		}
	}
}

section {
	position: relative;
	display: block;

	min-height: 55vw; // min. ratio of ~1.66 slightly less than 16:9 (1.77) to account for browser window, etc.
	max-height: 75vw; // max. ratio of ~1.33 to handle horizontal tablet sizing (ipad)

	height: 100vh;
	width: 100%; // cut off background image

	background-color: $dark-blue;

	@include mobile {
		max-height: 100vh;
	}
}

#hero {
	background-color: $light-blue;
	
	background-image: url($assets+'shelf.svg'), url($assets+'desk.svg');
	background-repeat: no-repeat, no-repeat;
	background-size: 100vw, 85vw;
	background-position: 0 130%, 162% 75%;

	@include mobile {
		background-size: 100vw, 120vw;
		background-position: 0 100%, -6vw 100%;
	}

	#wire {
		position: absolute;

		left: 60.7vw;

		width: 1.5vw;
		height: calc(100% - 91vw);

		background-color: $dark-blue;
	}

	#hero-content {
		position: absolute;
		display: inline-block;
		
		margin-left: 7.5vw;
		margin-top: 16vw;

		text-align: center;

		#hackathon-name {
			height: 4.8vw;
			font-size: 4.5vw;
			font-weight: 700;
			color: white;
		
			@include mobile {
				height: 14.1vw;
				font-size: 13vw;
			}
		}
		#hackathon-description {
			height: 2.8vw;
			font-size: 2.15vw;
			font-weight: 700;
			color: white;
		
			@include mobile {
				height: 8.2vw;
				font-size: 6.3vw;
			}
		}
		#hackathon-info {
			height: 1.1vw;
			font-size: 1.06vw;
			font-weight: 500;
			color: white;
		
			@include mobile {
				height: 5vw;
				font-size: 3.2vw;
			}
		}
		.mailchimp-container {
			height: 3vw;
			width: 29vw;
 			margin: 1vw auto;
			border-radius: 1.5vw;
			background-color: white;

			.mailchimp-input {
				flex: 0%;
				height: 2.5vw;
				margin-left: 1vw;
			
				text-align: center;
				border-style: none;
			
				outline: none;
				font-family: inherit;
				font-size: 1.1vw;
				font-weight: 500;
			
				&::placeholder { /* this refers to the input placeholder text (enter your email...)*/
					color: $blue;
					transition: color 0.4s;
				}
				&:focus::placeholder {
					color: transparent;
				}
			}
			.mailchimp-button {
				height: 2vw;
				width: 2vw;
			
				margin-right: 0.5vw;
			
				border-style: solid;
				border-width: 0.075vw;
				border-color: $blue;
				border-radius: 1.25vw;
			
				background-color: white;
				background-image: url(./bh7-assets/input-arrow.svg);
				background-repeat: no-repeat;
				background-position: 0.25vw;
				background-size: 1.25vw;
			
				outline: none;
				transition: 0.1s;
			
				@include desktop {
					&:hover {
						background-position: 0.35vw;
					}
				}
			}

			@include mobile {
				width: 80vw;
		
				height: 12vw;
				border-radius: 6vw;

				.mailchimp-input {
					height: 7vw;
					font-size: 3.25vw;
				}
				.mailchimp-button {
					height: 9vw;
					width: 9vw;
					border-radius: 4.5vw;
					margin-right: 1.5vw;
					background-position: 1.5vw;
					background-size: 5vw;
				}
			}
		}

		@include mobile {
			margin-top: 30vw;
		}
	}
}

#about {
	background-color: white;
}

#schedule {
	@extend .flex-container;
	flex-direction: column;

	// max-height: none;
	// min-height: 100%;
	// height: auto;

	.content {
		@extend .flex-container;
		flex-direction: column;

		height: 100%;
		width: 100%;

		padding: 5vw;

		@include mobile {
			padding: 10vw;
		}
		.title {
			align-self: start;
			margin: 2.5vw 0;

			@include mobile {
				align-self: center;

				position: absolute;
				top: 5vw;

				margin: 0 0 5vw 0;
			}
		}
		.schedule {
			@extend .flex-container;

			position: relative;

			width: 60%;

			border-radius: 1.5vw;
			background-color: $light-blue;

			@include mobile {
				margin-top: 12.5vw;

				flex-direction: column;
				width: 85vw;
				border-radius: 5vw;
			}
			.tape {
				position: absolute;

				height: 3vw;
				width: 100%;

				top: -1.75vw;

				$tape-start: 17.5%; // should be less than tape-end
				$tape-end: 40%; // should be sub 50%

				background: linear-gradient(to right, transparent $tape-start, 
					$tape $tape-start, $tape $tape-end, 
					transparent $tape-end,transparent 100-$tape-end,
					$tape 100-$tape-end,$tape 100-$tape-start,
					transparent 100-$tape-start);

				@include mobile {
					height: 8vw;
					top: -5vw;

					$tape-width: 40%; // mobile tape width
					$tape-width: $tape-width / 2;
					background: linear-gradient(to right, 
						transparent 50-$tape-width, $tape 50-$tape-width, 
						$tape 50+$tape-width, transparent 50+$tape-width);
				}
			}
			.dates {
				@extend .flex-container;
				flex-direction: column;

				align-self: start;

				flex: 20;

				height: 100%;

				margin-left: 2vw;

				@include mobile {
					flex-direction: row;
					justify-content: space-between;

					align-self: auto;

					width: 80%;

					margin: 2.5vw 0;					
				}

				.date {
					flex-direction: column;

					align-self: start;

					flex: 100;

					width: 10vw;

					text-align: inherit;
					
					padding: 0;

					transition: color 0.1s;

					@include mobile {
						flex: none;
					}
					.day {
						height: 8vw;

						font-size: 7vw;
						font-weight: 600;

						@include mobile {
							height: 16vw;
							font-size: 14vw;
						}
					}
					.day-name {
						font-size: 1.6vw;
						font-weight: 300;

						@include mobile {
							font-size: 3.2vw;
						}
					}
				}
			}
			.events {
				flex: 30;
				margin: 3vw 3vw 3vw 0;

				@include mobile {
					width: 80%;
					margin: 0 0 8vw 0;
				}
				.event {
					@extend .flex-container;

					align-items: flex-start;

					flex-direction: column;

					padding: 1vw 0 0.75vw 2.25vw;

					margin: 0.75vw 0;

					border-radius: 1vw;

					background: linear-gradient(to right, $red 1.25vw, white 1vw, white);

					box-shadow: 0 0 0.5vw 0 $dark-blue;

					@include mobile {
						padding: 2.25vw 1.5vw 2vw 5.5vw;

						margin: 1.75vw 0;

						border-radius: 2vw;

						background: linear-gradient(to right, $red 2.5vw, white 1vw, white);

						box-shadow: 0 0 1vw 0 $dark-blue;
					}
					.time {
						font-weight: 400;
						font-size: 0.9vw;
						color: $schedule-event-secondary;

						@include mobile {
							font-size: 2.2vw;
						}
					}
					.details {
						font-weight: 500;
						font-size: 1.2vw;
						color: $schedule-event-primary;

						@include mobile {
							font-size: 3vw;
						}
					}
				}
			}
		}
	}
}
