<!DOCTYPE html>
<html>
<head>
  <title>Brickhack</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1> Coming Soon ...</h1>
  <p>For more information visit the <a href="http://www.coderit.org">codeRIT homepage</a></p>

<%= yield %>

</body>
</html>
