$red: #F05124
$blue: #1EBECD
$yellow: #F7931D
$green: #26B24A

.day-of
  .header
    background: $grey-dark
    color: $white
    text-align: center
    margin: 0
    padding: 8px 0
    h3
      display: inline-block
      margin: 0
      vertical-align: middle
    #logo
      display: inline-block
      max-width: 60px
      vertical-align: middle
  .footer
    position: relative

.block
  &.schedule
    background: $green
    .schedule-table
      margin: 0
  &.map
    background: $blue
  &.sponsors
    background: $yellow
  &.support
    background: $red

.name
  color: $white
  font-weight: $font-reg
  margin: 0
  padding: 5px 0
  text-align: center

.info
  background: $white
  display: none
  padding: 5px 0