<%
  pages = ['Gallery', 'MLH Code of Conduct']
%>

<nav class="nav">
  <div class="nav__content">
    <div class="nav__links">
      <% pages.each do |page| %>
        <% if page.eql? 'MLH Code of Conduct' %>
          <a class="nav__link" href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">
        <% else %>
        <a class="nav__link" href="/<%= page.downcase %>/">
        <% end %>
          <%= page %>
        </a>
      <% end %>
    </div>
  </div>
</nav>

<a id="mlh-trust-badge" style="display:block;max-width:100px;min-width:60px;position:fixed;right:50px;top:0;width:10%;z-index:10000" 
href="https://mlh.io/seasons/na-2020/events?utm_source=na-hackathon&utm_medium=TrustBadge&utm_campaign=2020-season&utm_content=gray" target="_blank">
<img src="https://s3.amazonaws.com/logged-assets/trust-badge/2020/mlh-trust-badge-2020-gray.svg" alt="Major League Hacking 2020 Hackathon Season" style="width:100%"></a>
