%nav{class:"nav"}
  %div{class:"container"}
    %h2 BRICKHACK
    %ul{class:"nav-list"}
      %li
        =link_to 'About', '#about', {class:"nav-link"}
      %li
        =link_to 'FAQ', '#faq', {class:"nav-link"}
      -#%li
        -#=link_to 'Schedule', '#schedule', {class:"nav-link"}
      %li
        =link_to 'Sponsors', '#sponsors', {class:"nav-link"}
      -#=link_to 'Sign Up', '#register', {class:"button"}