:ruby
  title = "BrickHack"
  description = "RIT's premiere collegiate hackathon devoted to 400 designers and coders sinking 24 hours into building and creating."
  url = "https://brickhack.io"

%meta{ charset: "utf-8" }
%meta{ name:"keywords", content: "hackathons, hackathon, hack-a-thon, programming, hardware, development, design, rit" }
%meta{ name:"viewport", content: "width=device-width, initial-scale=1" }
%meta{ name:"description", content: description }
%meta{ property:"og:title", content: title }
%meta{ property:"og:url", content: url }
%meta{ property:"og:description", content: description }
%meta{ property:"og:image", content: image_url("brickhack_card.jpg") }
%meta{ property:"og:image", content: image_url("brickhack.png") }
%meta{ name:"twitter:card", content: "summary" }
%meta{ name:"twitter:url", content: url }
%meta{ name:"twitter:title", content: title }
%meta{ name:"twitter:image", content: image_url('brickhack_card.jpg') }
%meta{ name:"twitter:description", content: description }

%link{ href: image_url("favicon/apple-touch-icon-57x57.png"), rel: "apple-touch-icon", sizes: "57x57" }
%link{ href: image_url("favicon/apple-touch-icon-114x114.png"), rel: "apple-touch-icon", sizes: "114x114" }
%link{ href: image_url("favicon/apple-touch-icon-72x72.png"), rel: "apple-touch-icon", sizes: "72x72" }
%link{ href: image_url("favicon/apple-touch-icon-144x144.png"), rel: "apple-touch-icon", sizes: "144x144" }
%link{ href: image_url("favicon/apple-touch-icon-60x60.png"), rel: "apple-touch-icon", sizes: "60x60" }
%link{ href: image_url("favicon/apple-touch-icon-120x120.png"), rel: "apple-touch-icon", sizes: "120x120" }
%link{ href: image_url("favicon/apple-touch-icon-76x76.png"), rel: "apple-touch-icon", sizes: "76x76" }
%link{ href: image_url("favicon/apple-touch-icon-152x152.png"), rel: "apple-touch-icon", sizes: "152x152" }
%link{ href: image_url("favicon/apple-touch-icon-180x180.png"), rel: "apple-touch-icon", sizes: "180x180" }
%link{ href: image_url("favicon/favicon.ico"), rel: "shortcut icon" }
%link{ href: image_url("favicon/favicon-192x192.png"), rel: "icon", sizes: "192x192", type: "image/png" }
%link{ href: image_url("favicon/favicon-160x160.png"), rel: "icon", sizes: "160x160", type: "image/png" }
%link{ href: image_url("favicon/favicon-96x96.png"), rel: "icon", sizes: "96x96", type: "image/png" }
%link{ href: image_url("favicon/favicon-16x16.png"), rel: "icon", sizes: "16x16", type: "image/png" }
%link{ href: image_url("favicon/favicon-32x32.png"), rel: "icon", sizes: "32x32", type: "image/png" }
%meta{ content: "#f9f6f3", name: "msapplication-TileColor" }
%meta{ content: image_url("favicon/mstile-144x144.png"), name: "msapplication-TileImage" }
%meta{ content: image_url("favicon/mstile-70x70.png"), name: "msapplication-square70x70logo" }
%meta{ content: image_url("favicon/mstile-150x150.png"), name: "msapplication-square150x150logo" }
%meta{ content: image_url("favicon/mstile-310x310.png"), name: "msapplication-square310x310logo" }
%meta{ content: image_url("favicon/mstile-310x150.png"), name: "msapplication-wide310x150logo" }

%link{ href:'//fonts.googleapis.com/css?family=Roboto:400,900,300,100,500,700', rel: 'stylesheet', type: 'text/css' }
