%div{class:'sidebar'}
  %div{id:'logo-cta'}
    %img{src:'assets/brickhack_logo.png', id:'logo'}
  %nav
    %ul{class:'nav-list'}
      %li
        %a{href:"#home", class:'nav-link active'} HOME
      %li
        %a{href:"#faq", class:'nav-link'} FAQ
      %li
        %a{href:"#sponsors", class:'nav-link'} SPONSORS
