!!! 5
%html
  %head
    %meta{charset: "utf-8" }
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
    %meta{name:"description", content:"BrickHack: RIT's premiere collegiate hackathon. April 18th ignites a weekend devoted to 400 designers and coders sinking 24 hours into building and creating."}
    %meta{property:"og:title", content:"BrickHack"}
    %meta{property:"og:url", content:"http://brickhack.io"}
    %meta{property:"og:description", content:"BrickHack: RIT's premiere collegiate hackathon. April 18th ignites a weekend devoted to 400 designers and coders sinking 24 hours into building and creating."}
    %meta{name:"twitter:card", content:"summary"}
    %meta{name:"twitter:url", content:"http://brickhak.io"}
    %meta{name:"twitter:title", content:"BrickHack"}
    %meta{name:"twitter:description", content:"BrickHack: RIT's premiere collegiate hackathon. April 18th ignites a weekend devoted to 400 designers and coders sinking 24 hours into building and creating."}
    %title BrickHack
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags

  %body
    = yield
    = javascript_include_tag "application"
